{% load staticfiles %}


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- GOOGLE STUFF -->
            <!-- Google Analytics -->
            <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-114964374-1', 'auto');
            ga('send', 'pageview');
            </script>
            <!-- End Google Analytics -->

            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WQ28LG5');</script>
            <!-- End Google Tag Manager -->

  <!-- BOOTSTRAP STUFF -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans|PT+Serif" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

            {# <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> #}
<!-- END GOOGLE AND BOOTSTRAP -->
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_desc }}">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="{{ page_desc }}">
  <meta property="og:image" content="{% static "images/kumala-logo.png" %}">

  <link rel="stylesheet" href="{% static "css/master.css" %}">
  <script src="{% static "js/master.js" %}" charset="utf-8"></script>
  <script src="{% static "js/fontawesome-all.js" %}" charset="utf-8"></script>
  <link rel="stylesheet" href="{% static "css/fontawesome-all.css" %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static "images/kumala.ico" %}">
</head>
