{% load staticfiles %}

<header class="container my-3 d-flex justify-content-between align-items-start">
    <div class="">
        <!-- <img class="mx-3 d-none" src="{% static "images/mala-white.svg" %}" width="90px" alt="Logo Image"> -->
        <img class="mx-3 d-block d-sm-none" src="{% static "images/mala-white.svg" %}" width="55px" alt="Logo Image">
        <img class="mx-3 d-none d-sm-block d-lg-none" src="{% static "images/mala-white.svg" %}" width="90px" alt="Logo Image">
        <img class="mx-3 d-none d-lg-block" src="{% static "images/mala-white.svg" %}" width="120px" alt="Logo Image">
    </div>


    <div class="d-flex flex-column align-items-end">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent p-0 d-none d-md-block">
            <img class="d-sm-none px-1" src="{% static "images/mala-white.svg" %}" width="40px" alt="Logo Image">
            <a class="navbar-brand d-none d-md-block notranslate basker" href="/">Chandra Kumala School</a>
            <a class="navbar-brand d-block d-md-none basker notranslate" href="/">Chandra Kumala</a>
        </nav>

      <div class="container d-flex justify-content-md-end">
        <a class="btn btn-primary btn-sm my-1 mx-1 mx-md-2 d-none d-md-block" href="https://www.facebook.com/ChandraKumalaSchool/" target="_blank" title="Facebook"><i class="fab fa-facebook-square fa-inverse fa-fw fa-2x"></i></a>
        <a class="btn btn-danger btn-sm my-1 mx-1 mx-md-2 d-none d-md-block" href="https://www.youtube.com/chandrakumalaschool" target="_blank"  title="Youtube"><i class="fab fa-youtube fa-inverse fa-fw fa-2x"></i></a>
        <a class="btn btn-warning btn-sm my-1 mx-1 mx-md-2 d-none d-md-block" href="https://www.instagram.com/chandrakumalaofficial/" target="_blank" title="Instagram"><i class="fab fa-instagram fa-inverse fa-fw fa-2x"></i></a>

        <a class="btn btn-secondary btn-sm my-1 mx-1 mx-md-2" href="{% url 'www:calendar' %}" title="Calendar"><i class="fa fa-calendar-alt fa-inverse fa-fw fa-2x" aria-hidden="true"></i></a>
        <a class="btn btn-success btn-sm my-1 mx-1 mx-md-2" href="https://goo.gl/maps/hR95oHnVUdv" target="_blank" title="Navigate to school"><i class="fas fa-map-marker-alt fa-inverse fa-fw fa-2x"></i></a>
        <a class="btn btn-info btn-sm my-1 mx-1 mx-md-2" href="tel:+62-061-661-6765" target="_blank"  title="Call Us"><i class="fas fa-mobile-alt fa-inverse fa-fw fa-2x"></i></a>
        <a class="navbarToggler btn btn-dark btn-sm my-1 mx-1 mx-md-2 d-lg-none" href=""  data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars fa-inverse fa-fw fa-2x" aria-hidden="true"></i></a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
      </div>


      <nav class="navbar navbar-expand-lg navbar-dark bg-transparent p-0">
        <!-- <a class="navbar-brand d-none d-md-block notranslate" href="#">Chandra Kumala School</a>
        <a class="navbar-brand d-block d-md-none  notranslate" href="#">Chandra Kumala</a> -->


      <div class="collapse navbar-collapse" id="navbarToggler">
        <div class="navbar-nav mr-auto mt-2 mt-lg-0">
        <div class="nav-item ">
                <a class="nav-link" href="https://drive.google.com/file/d/0B5YwHuVFXziGLVlJaWQwbzFCVkN2T1ZNUkttdHhCYkVKeDF3/view?usp=sharing"><strong> School Bulletin (Sept) <i class="fas fa-download"></i></strong></a>
        </div>
          <div class="nav-item ">
            <a class="nav-link dropdown-toggle" href="{% url 'home' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our School</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-dark" href="{% url 'www:news' %}"><i class="far fa-newspaper"></i> News</a>
              <a class="dropdown-item text-dark" href="{% url 'www:calendar' %}"><i class="fa fa-calendar-alt"></i> Calendar</a>
              <a class="dropdown-item text-dark" href="{% url 'www:programs' %}"><i class="fas fa-graduation-cap fa-fw"></i> Programs</a>
              <a class="dropdown-item text-dark" href="{% url 'www:contact' %}"><i class="fas fa-map-signs fa-fw"></i> Map & Contact<span class="sr-only">(current)</span></a>
              <div class="dropdown-divider"></div>
              <p class="li">Child Safeguarding Policy</p>
              <a class="dropdown-item text-dark" href="https://docs.google.com/document/d/14_C560RLZjDGmFJ_riK1GNQBKGN9ydRvOW34F1y71_M/edit?usp=sharing"><i class="fas fa-landmark"></i> Bahasa</a>
              <a class="dropdown-item text-dark" href="https://docs.google.com/document/d/1uVoHIgKtmAKTNvx3F28CYTgyXpXYT1xVefv0qkiO8sg/edit?usp=sharing"><i class="fas fa-landmark"></i> English</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-dark" href="{% url 'www:alumni' %}"><i class="far fa-address-card"></i> Alumni</a>
              <a class="dropdown-item text-dark" href="{% url 'www:registration' %}"><i class="fas fa-pencil-alt fa-fw"></i> Register</a>
              <a class="dropdown-item text-dark" href="{% url 'www:scholarships' %}"><i class="far fa-handshake fa-fw"></i> Scholarships</a>
            </div>
          </div>
          <!-- <div class="nav-item">
            <a class="nav-link dropdown-toggle " href="{% url 'www:programs' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Groups</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-dark" href="{% url 'www:alumni' %}"><i class="far fa-address-card"></i> Alumni</a>
              <a class="dropdown-item text-dark" href="{% url 'www:parents' %}"><i class="fas fa-users"></i> Parents</a>
              <a class="dropdown-item text-dark disabled" href="#"><i class="fas fa-user-circle"></i> Teachers</a>
            </div>
          </div> -->
          <div class="nav-item">
            <a class="nav-link dropdown-toggle" href="{% url 'www:programs' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Media</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item text-dark" href="{% url 'www:news' %}"><i class="far fa-newspaper"></i> News</a>
              <!-- <a class="dropdown-item text-dark" href="{% url 'www:gallery' %}"><i class="far fa-image"></i> Pictures</a> -->
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-dark no-translate" href="https://www.facebook.com/ChandraKumalaSchool/" target="_blank"><i class="fab fa-facebook fa-fw fa-1x"></i> Facebook</a>
              <a class="dropdown-item text-dark no-translate" href="https://www.instagram.com/chandrakumalaofficial/" target="_blank"><i class="fab fa-instagram fa-fw fa-1x"></i>  Pictures</a>
              <a class="dropdown-item text-dark no-translate" href="https://www.youtube.com/chandrakumalaschool" target="_blank"><i class="fab fa-youtube fa-fw fa-1x"></i>  Videos</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    </div>
</header>
