{% load staticfiles %}



<header class="">
    <span class="">
        <img class="mx-3" src="{% static "images/mala-white.svg" %}" width="90px" alt="Logo Image">
    </span>

    <div class="text-center text-light display-5">
        <a class="navbar-brand d-none d-md-block notranslate">Chandra Kumala School</a>
        <a class="navbar-brand d-none d-md-none d-sm-block notranslate">Chandra Kumala</a>
        <a class="navbar-brand d-block d-sm-none notranslate">Kumala</a>
    </div>

    <div class="d-block text-right">

      <span class="fa-layers fa-fw fa-3x">
        <a href="https://goo.gl/maps/hR95oHnVUdv" target="_blank">
        <i class="fas fa-square"></i>
        <i class="fas fa-map-marker-alt fa-inverse" data-fa-transform="shrink-9 up-2"></i>
        <span class="fa-layers-text fa-inverse" data-fa-transform="shrink-12 down-4" style="font-family: 'Open Sans', sans-serif; font-weight:900">NAV</span>
        </a>
      </span>

      <span class="fa-layers fa-fw fa-3x">
        <a href="tel:+62-061-661-6765" target="_blank">
        <i class="fas fa-square"></i>
        <i class="fas fa-phone fa-inverse" data-fa-transform="shrink-7"></i>
        </a>
      </span>

    </div>

</header>
