<!DOCTYPE html>
{% extends "www/base.html" %}
{% load staticfiles %}

{% block section %}


<div class="overlay">
  <img src="{% static "/images/00076-1920x800.jpg" %}" alt="a-Maze-ing"  style="width:100%;">
  <div class="carousel-logo">
    <img class="d-none d-md-block" src="{% static "images/kumala-logo.svg" %}" width="120px" alt="">
  </div>
  <div class="carousel-logo">
    <img class="d-block d-md-none" src="{% static "images/kumala-logo.svg" %}" width="60px" alt="">
  </div>
  <div class="carousel-caption">
    <h1 class="display-3 text-center">{{ page_title }}</h1>
    <p class="lead text-center" >We recognise and develop individual passions, using that enthusiasm to fuel lifelong learning. Through promoting personal responsibility and understanding, we encourage students to become productive members of their communities.</p>
  </div>
</div>


{% endblock %}
