<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- GOOGLE STUFF -->
            <!-- Google Analytics -->
            <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-114964374-1', 'auto');
            ga('send', 'pageview');
            </script>
            <!-- End Google Analytics -->

            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-WQ28LG5');</script>
            <!-- End Google Tag Manager -->

  <!-- BOOTSTRAP STUFF -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|PT+Sans" rel="stylesheet">
            <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<!-- END GOOGLE AND BOOTSTRAP -->

  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_desc }}">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="{{ page_desc }}">
  <meta property="og:image" content="{% static "images/kumala-logo.svg" %}">

  <link rel="stylesheet" href="{% static "css/reset.css" %}">
  <link rel="stylesheet" href="{% static "css/master.css" %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static "images/kumala.ico" %}">
</head>

<body  id="_top">
<div class="whole-page">
      <header>
        <a class="navbar-brand d-none d-sm-block notranslate">Chandra Kumala School</a>
        <a class="navbar-brand d-block d-sm-none notranslate">CKS</a>
      </header>
      <!-- <header>  class="sticky-top" -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="{% static "images/kumala-logo.svg" %}" width="40px" alt="">
            </a>
            <a class="navbar-brand ml-auto d-block d-lg-none" style="font-size: 16px;" href="{% url 'home' %}">

              <svg width="18" height="18" version="1.1" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
              <style type="text/css">.st0{fill:#333333;}</style>
              <g id="XMLID_2_" transform="translate(0,-78)">
              <path id="XMLID_4_" transform="translate(0,78)" d="m14.391 0-3.5898 4v5h-1.8008l-4.5-2-4.5 2v9h18v-14zm0.03125 4.6797c1.0328 0 1.8691 0.76794 1.8691 1.8008 0 1.0328-0.8363 1.7988-1.8691 1.7988-1.0328 0-1.8711-0.76598-1.8711-1.7988 0-1.0328 0.83825-1.8008 1.8711-1.8008z" fill="#333" stroke-width=".19034"/>
              </g>
              </svg><span class="sr-only">(current)</span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <svg id="threeLines" width="18" height="18" focusable="false" version="1.1" viewBox="0 0 18 8.64" xmlns="http://www.w3.org/2000/svg">
                <path d="m0 11.82h18v-3h-18zm0-6h18v-3h-18zm0-9v3h18v-3z" stroke-width="1.2"/>
              </svg>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link d-none d-lg-block" href="{% url 'home' %}">
                      <svg width="18" height="18" version="1.1" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                      <style type="text/css">.st0{fill:#333333;}</style>
                      <g id="XMLID_2_" transform="translate(0,-78)">
                      <path id="XMLID_4_" transform="translate(0,78)" d="m14.391 0-3.5898 4v5h-1.8008l-4.5-2-4.5 2v9h18v-14zm0.03125 4.6797c1.0328 0 1.8691 0.76794 1.8691 1.8008 0 1.0328-0.8363 1.7988-1.8691 1.7988-1.0328 0-1.8711-0.76598-1.8711-1.7988 0-1.0328 0.83825-1.8008 1.8711-1.8008z" fill="#333" stroke-width=".19034"/>
                      </g>
                      </svg>
                    </a>

                    <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle dropdown-toggle-split active" href="{% url 'www:programs' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Academics</a>
                      <div class="dropdown-menu active dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'www:scholarships' %}">Scholarships</a>
                        <a class="dropdown-item" href="{% url 'www:registration' %}">Registration</a>
                        <a class="dropdown-item" href="{% url 'www:programs' %}">Programs</a>
                        <a class="dropdown-item" href="{% url 'www:exams' %}">Exam Timetable</a>
                      </div>
                    </div>


                    <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle dropdown-toggle-split active" href="{% url 'www:programs' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gallery</a>
                      <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'www:gallery' %}">Pictures</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'www:videos' %}">Videos</a>
                      </div>
                    </div>
                    <a class="nav-item nav-link active" href="{% url 'www:contact' %}">Contact <span class="sr-only">(current)</span></a>
                    <!-- <a class="nav-item nav-link" href="{% url 'www:careers' %}">Jobs <span class="sr-only">(current)</span></a> -->
                    <a class="nav-item nav-link active" href="{% url 'www:about' %}">About Us <span class="sr-only">(current)</span></a>

                    <!-- USER LOGIN / OUT MENU -->
                    <!-- <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle-split" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="adminDropdown">
                            {% if user.is_authenticated %}
                              <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
                              <a class="dropdown-item" href="{% url 'www:signup' %}">Sign-up</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            {% else %}
                              <a class="dropdown-item" href="{% url 'www:user_login' %}">Login</a>
                            {% endif %}
                        </div>
                    </div> -->
                </div>
            </div>
        </nav>


<!-- BANNER AND INSERTION OF OTHER HTML PAGES -->


<main>
  {% block body_block %}
  {% endblock %}

    <a class="btn btn-info float-right" href="#_top"><i class="fas fa-arrow-up"></i></a>

</main>


<!-- PAGE FOOTER / CONTACT AUTHOR COMPANY DETAILS -->
<footer>
  <div class="text-center">
      <div id="google_translate_element"></div>
      <script type="text/javascript">
      function googleTranslateElementInit() { new google.translate.TranslateElement({pageLanguage: 'en', gaTrack: true, gaId: 'UA-114964374-1'}, 'google_translate_element'); }
      </script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </div>
  <div class="notranslate text-center">
      <i class="fas fa-map-marker-alt"></i>&nbsp
      Chandra Kumala School, Perumahan Cemara Asri<br> No.1 Block O Deliserdang, Medan, Indonesia, 20317
  </div>
  <div class="text-center">
      <a class="social_media" href="https://www.facebook.com/ChandraKumalaSchool/" target="_blank"><i class="fab fa-facebook"></i></a>
      <a class="social_media" href="https://www.instagram.com/chandrakumalaofficial/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a class="social_media" href="https://www.youtube.com/chandrakumalaschool" target="_blank"><i class="fab fa-youtube-square"></i></a>
      <a class="social_media" href="mailto:info@chandrakumala.com?Subject=Website%20question" target="_top"><i class="fas fa-envelope"></i></a>
      &nbsp
      <a class="social_media" href="tel:+62-061-661-6765"><i class="fas fa-phone"></i></a>
  </div>
</footer></div>
<!-- FINAL BOOTSTRAP ELEMENTS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
