<!DOCTYPE html>
{% load staticfiles %}
<html class="d-flex flex-column">

{% include "www/_head.html" %}

<body id="_top">

          {% include "www/_header.html" %}

          <main class="container d-flex align-items-stretch flex-grow-1">
            <section class="rounded-top m-0 p-0">   
              {% block page %}
              {% endblock %}
            </section>
          </main>
              <!-- PAGE FOOTER / CONTACT AUTHOR COMPANY DETAILS -->
            <footer class="">
                <div class="container d-flex flex-column flex-lg-row bg-light justify-content-around border-top border-warning pt-2 pb-lg-3">
                    <div class="mx-md-3 text-center notranslate order-0">
                      <i class="fas fa-map-marker-alt"></i> Chandra Kumala School <br>
                      <small class="text-muted">No.1 Block O, Per. Cemara Asri  Deliserdang, Medan, Indonesia, 20317</small>
                    </div>
                    <div class="mx-md-3 text-center notranslate order-lg-2">
                      <i class="fas fa-map-marker-alt"></i> Chandra Kumala School II<br>
                      <small class="text-muted">CKS 2, Children’s Garden dan CaSE, Jalan S Parman Medan</small>
                    </div>
                    <div class="mx-md-3 text-center order-lg-1">
                      <a class="btn btn-primary rounded-3" href="#_top"><i class="fas fa-arrow-circle-up fa-2x"></i></a>
                    </div>
                </div>
            </footer>

      <!-- FINAL BOOTSTRAP ELEMENTS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
