<!DOCTYPE html>
{% extends "www/base.html" %}
<!-- {% load wagtailcore_tags %} -->

{% load staticfiles %}

{% block page %}
<section class="m-0 p-0">

    <iframe src="https://calendar.google.com/calendar/embed?src=siti.khadijah%40chandrakumala.com&ctz=Asia%2FJakarta" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <a class="btn btn-success" href="https://calendar.google.com/calendar?cid=c2l0aS5raGFkaWphaEBjaGFuZHJha3VtYWxhLmNvbQ" target="_blank" title="Calendar"><i class="fa fa-calendar-alt fa-inverse" aria-hidden="true">  Add to your Google Calendar</i></a>

</section>
{% endblock %}