<!DOCTYPE html>
{% extends "www/_base.html" %}
{% load staticfiles %}
{% block page %}

<div class="job">

  <div class="jumbotron job-title">
    <h1>Art & Design Teacher</h1>
    <h3>Preference given to candidates with Design & Technology or Food & Nutrition teaching experience.</h3>
    <p class="lead">Teachers need to be over the age of 25, have a suitable qualification and 5 years teaching experience.  Job posted : July 2018</p>
  </div>

  <div class="job-row">
    <div class="job-media">
      <img width="400px" src="{% static "/images/1920x108000288.jpg" %}" alt="">
      <table class="table">
          <tr>
              <th>Location</th>
              <td>Medan, North Sumatra, Indonesia.</td>
          </tr>
          <tr>
              <th>Contract</th>
              <td>Two Year Renewable.</td>
          </tr>
          <tr>
              <th>Experience</th>
              <td>5 years teaching, preferrably with UK curriculum experience.</td>
          </tr>
          <tr>
              <th>Visa requirements</th>
              <td>Over 25 years old, subject related degree and 5 years teaching experience.</td>
          </tr>
      </table>
    </div>


    <div class="job-desc">
        <p>Chandra Kumala School (CK) is situated in Cemara Asri housing estate, famous for its cafes and seafood restaurants.</p>
        <p>CK caters for children from kindergarten to senior high school.  Primary students follow the International Primary Curriculum (IPC), the middle school curriculum leads to Cambridge Checkpoint exams, with many students going on to take IGCSE in Years 9 - 10.</p>
        <p>We are looking for someone who is easy going, flexible, and professional, to build our strong Art & Design program.</p>
        <p>You should be comfortable teaching Art & Design - up to AS Level along with another subject such as Art / English for younger students.</p>
        <p>Preference will be given to anyone also able to handle Design & Technology or Food & Nutrition.</p>
    </div>

  </div>

</div>






{% endblock %}
