<!DOCTYPE html>
{% extends "www/base.html" %}
{% load staticfiles %}
{% block page %}

<!-- <div class="overlay">
  <div class="carousel-logo">
    <img class="d-none d-md-block" src="{% static "images/kumala-logo.svg" %}" width="120px" alt="">
  </div>
  <div class="carousel-logo">
    <img class="d-block d-md-none" src="{% static "images/kumala-logo.svg" %}" width="60px" alt="">
  </div>
</div> -->




<div class="columns">
  <div class="jumbotron column" width="600px">
    <h1 class="text-center">{{ page_title }}</h1>
    <p class="lead text-center"><a href="tel:+62-061-661-6765">Call or Skype <i class="fas fa-mobile"></i> <nobr>+62-061-661-6765</nobr>  </a> <br><a href="mailto:info@chandrakumala.com?Subject=Website%20question" target="_top"> Email <i class="fas fa-envelope-square"></i> info@chandrakumala.com  </a></p>
    <h5 class="text-center">Visit our campus</h5>
    <h6 class="text-center">Open School Every Thursday <a class="social_media" href="tel:+62-061-661-6765"><i class="fas fa-phone"></i></a><br> Call for details.</h6>
    <p class="text-center">We have a large green campus with many facilities including a playground, climbing wall, badminton and basketball courts.</p>
    <a class="text-center" href="https://www.google.com/maps?ll=3.635902,98.704839&z=14&t=m&hl=en-GB&gl=ID&mapclient=embed&cid=8406641932374751883" class="card-link"  target="_blank">Full-page map</a>
    <a class="text-center" href="{% url 'www:gallery' %}" class="card-link">Campus Pictures</a>
  </div>

    <map class="column">
      <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d63708.60224716298!2d98.67172502795906!3d3.6358846790568333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x303133cb86bccbe3%3A0x74aa644c1519ba8b!2sChandra+Kumala+School%2C+jalan+kelapa+Blok+O%2C+Komplek+Cemara+Asri%2C+Medan+Estate%2C+Percut+Sei+Tuan%2C+Kabupaten+Deli+Serdang%2C+Sumatera+Utara+20371!3m2!1d3.6357996999999997!2d98.7068305!5e0!3m2!1sen!2sid!4v1527731714570" width="600px" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </map>
</div>





{% endblock %}
