<!DOCTYPE html>
{% extends "www/base.html" %}
{% load staticfiles %}
{% block page %}

  <div class="jumbotron mb-0">
    <h1 class="display-4">Contact Us</h1>
    <div class="row">
      <div class="col-lg-6">
        <p class="lead">Come and visit our large green campus, spacious classrooms and facilities, including a playground, climbing wall, badminton and basketball courts.</p>
      </div>
      <hr class="d-block d-lg-none my-4">
      <div class="col-lg-6">
        <div class="text-center">
          <small class="text-muted">Open School Every : </small> Thursday
          <span href="https://www.google.com/maps?ll=3.635902,98.704839&z=14&t=m&hl=en-GB&gl=ID&mapclient=embed&cid=8406641932374751883"> <i class="fas fa-map-marked-alt"></i></span>
        </div>
        <div class="text-center">
          <small class="text-muted">Phone number : </small> +62-061-661-6765
          <span href="tel:+62-061-661-6765"><i class="fas fa-phone"></i></span>
        </div>
        <div class="text-center">
          <small class="text-muted">Email address : </small> info@chandrakumala.com
          <span href="mailto:info@chandrakumala.com?Subject=Website%20question" target="_top"><i class="fas fa-envelope"></i></span>
        </div>
      </div>
    </div>
  </div>

  <map>
    <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d63708.60224716298!2d98.67172502795906!3d3.6358846790568333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x303133cb86bccbe3%3A0x74aa644c1519ba8b!2sChandra+Kumala+School%2C+jalan+kelapa+Blok+O%2C+Komplek+Cemara+Asri%2C+Medan+Estate%2C+Percut+Sei+Tuan%2C+Kabupaten+Deli+Serdang%2C+Sumatera+Utara+20371!3m2!1d3.6357996999999997!2d98.7068305!5e0!3m2!1sen!2sid!4v1527731714570" width="600px" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </map>

{% endblock %}
