{% extends "www/base.html" %}
{% load staticfiles %}

{% block aside %}
    <nobr><a href="{% url 'www:enroll' %}">
    <p class="rotated awesome">Please complete the form&hellip;</p>
    </a></nobr>

{% endblock %}


{% block section %}


<div class="jumbotron">
  <div>
    <h1 class="display-3 text-center">{{ page_title }}</h1>
    <p class="lead text-center">{{ page_desc}}</p>
  </div>
</div>


<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScY4d-Q216fVjtwR9RYqp_H-h9ld372hviBq-hHe_M5PHdxPQ/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

{% endblock %}
