{% extends "www/base.html" %}
{% load staticfiles %}
{% block section %}



<h1>Cambridge Exam Timetable ...</h1>
<div class="exam-table-headings">
	<a class="btn btn-primary" href="#table1"><h2>International Primary</h2></a>
	<a class="btn btn-primary" href="#table2"><h2>iGCSE</h2></a>
	<a class="btn btn-primary" href="#table3"><h2>Secondary Checkpoint</h2></a>
	<a class="btn btn-primary" href="#table4"><h2>A Level</h2></a>
</div>

<div class="exam-timetable">
			<h2 id="table1">Cambridge International Primary Program   </h2><a class="btn btn-info float-right" href="#_top"><i class="fas fa-arrow-up"></i></a>
			<table class='table table-dark exam-table'>
				<THEAD>
					<TD  HEIGHT=17 ALIGN=LEFT><B>Date</B></TD>
					<TD  ALIGN=LEFT><B>Time</B></TD>
					<TD  ALIGN=LEFT><B>Syllabus Name</B></TD>
					<TD  ALIGN=LEFT><B>Syllabus Code</B></TD>
				</THEAD>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>9th April 2018</TD>
					<TD  ALIGN=LEFT>08.00 &ndash; 08.40</TD>
					<TD  ALIGN=LEFT>English as a Second Language</TD>
					<TD  ALIGN=LEFT>0837/01</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>9th April 2018</TD>
					<TD  ALIGN=LEFT>08.55 &ndash; 09.35</TD>
					<TD  ALIGN=LEFT>English as a Second Language</TD>
					<TD  ALIGN=LEFT>0837/02</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>9th April 2018</TD>
					<TD  ALIGN=LEFT>09.50 &ndash; 09.15</TD>
					<TD  ALIGN=LEFT>English as a Second Language</TD>
					<TD  ALIGN=LEFT>0837/03</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>10th April 2018</TD>
					<TD  ALIGN=LEFT>08.00 &ndash; 08.45</TD>
					<TD  ALIGN=LEFT>Mathematics</TD>
					<TD  ALIGN=LEFT>0845/01</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>10th April 2018</TD>
					<TD  ALIGN=LEFT>09.00 &ndash; 09.45</TD>
					<TD  ALIGN=LEFT>Mathematics</TD>
					<TD  ALIGN=LEFT>0845/02</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>11th April 2018</TD>
					<TD  ALIGN=LEFT>08.00 &ndash; 08.45</TD>
					<TD  ALIGN=LEFT>Science</TD>
					<TD  ALIGN=LEFT>0846/01</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>11th April 2018</TD>
					<TD  ALIGN=LEFT>09.00 &ndash; 09.45</TD>
					<TD  ALIGN=LEFT>Science</TD>
					<TD  ALIGN=LEFT>0846/02</TD>
				</TR>
			</table>

				<h2 id="table2">Cambridge IGCSE   </h2><a class="btn btn-info float-right" href="#_top"><i class="fas fa-arrow-up"></i></a>
			<table class='table table-dark exam-table'>
				<THEAD>
					<TD  HEIGHT=17 ALIGN=LEFT><B>Date</B></TD>
					<TD  ALIGN=LEFT><B>Time</B></TD>
					<TD  ALIGN=LEFT><B>Syllabus Name</B></TD>
					<TD  ALIGN=LEFT><B>Syllabus Code</B></TD>
				</THEAD>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>28th March 2018</TD>
					<TD  ALIGN=LEFT>13.00 &ndash; 14.30</TD>
					<TD  ALIGN=LEFT>Food and Nutrition</TD>
					<TD  ALIGN=LEFT>0648/02</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>3rd April 2018</TD>
					<TD  ALIGN=LEFT>12.30 &ndash; Finish</TD>
					<TD  ALIGN=LEFT>Music</TD>
					<TD  ALIGN=LEFT>0410/02</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>4th April 2018</TD>
					<TD  ALIGN=LEFT>09.00 &ndash; 15.30</TD>
					<TD  ALIGN=LEFT>Food and Nutrition</TD>
					<TD  ALIGN=LEFT>0648/02</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>5th April 2018</TD>
					<TD  ALIGN=LEFT>08.00 &ndash; Finish</TD>
					<TD  ALIGN=LEFT>English as a Second Language</TD>
					<TD  ALIGN=LEFT>0510/52</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>6th April 2018</TD>
					<TD  ALIGN=LEFT>09.00 &ndash; Finish</TD>
					<TD  ALIGN=LEFT>Foreign Language Arabic</TD>
					<TD  ALIGN=LEFT>0544/03</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>16th April 2018</TD>
					<TD  ALIGN=LEFT>08.00 &ndash; Finish</TD>
					<TD  ALIGN=LEFT>Mandarin Chinese</TD>
					<TD  ALIGN=LEFT>0547/03</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>16th April 2018</TD>
					<TD  ALIGN=LEFT>08.30 &ndash; Finish</TD>
					<TD  ALIGN=LEFT>Bahasa Indonesia</TD>
					<TD  ALIGN=LEFT>0538/03</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>19th April 2018</TD>
					<TD  ALIGN=LEFT>08.00 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Art and Design</TD>
					<TD  ALIGN=LEFT>0400/01</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>20th April 2018</TD>
					<TD  ALIGN=LEFT>08.00 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Art and Design</TD>
					<TD  ALIGN=LEFT>0400/01</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>23rd April 2018</TD>
					<TD  ALIGN=LEFT>08.00 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Art and Design</TD>
					<TD  ALIGN=LEFT>0400/02</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>24th April 2018</TD>
					<TD  ALIGN=LEFT>08.00 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Art and Design</TD>
					<TD  ALIGN=LEFT>0400/02</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>2nd May 2018</TD>
					<TD  ALIGN=LEFT>10.15 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Bahasa Indonesia</TD>
					<TD  ALIGN=LEFT>0538/01</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>4th May 2018</TD>
					<TD  ALIGN=LEFT>15.00 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>Mathematics</TD>
					<TD  ALIGN=LEFT>0580/12</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>4th May 2018</TD>
					<TD  ALIGN=LEFT>14.30 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>Mathematics</TD>
					<TD  ALIGN=LEFT>0580/22</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>8th May 2018</TD>
					<TD  ALIGN=LEFT>11.00 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Biology</TD>
					<TD  ALIGN=LEFT>0610/62</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>8th May 2018</TD>
					<TD  ALIGN=LEFT>15.00 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>Foreign Language Arabic</TD>
					<TD  ALIGN=LEFT>0544/22</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>9th May 2018</TD>
					<TD  ALIGN=LEFT>08.30 &ndash; 10.00</TD>
					<TD  ALIGN=LEFT>Bahasa Indonesia</TD>
					<TD  ALIGN=LEFT>0538/02</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>9th May 2018</TD>
					<TD  ALIGN=LEFT>10.30 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>English as a Second Language</TD>
					<TD  ALIGN=LEFT>0510/12</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>9th May 2018</TD>
					<TD  ALIGN=LEFT>10.00 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>English as a Second Language</TD>
					<TD  ALIGN=LEFT>0510/22</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>10th May 2018</TD>
					<TD  ALIGN=LEFT>11.00 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Physics</TD>
					<TD  ALIGN=LEFT>0625/62</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>11th May 2018</TD>
					<TD  ALIGN=LEFT>11.20 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>English as a Second Language</TD>
					<TD  ALIGN=LEFT>0510/32</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>11th May 2018</TD>
					<TD  ALIGN=LEFT>11.10 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>English as a Second Language</TD>
					<TD  ALIGN=LEFT>0510/42</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>11th May 2018</TD>
					<TD  ALIGN=LEFT>14.00 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>Mathematics</TD>
					<TD  ALIGN=LEFT>0580/32</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>11th May 2018</TD>
					<TD  ALIGN=LEFT>13.30 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>Mathematics</TD>
					<TD  ALIGN=LEFT>0580/42</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>14th May 2018</TD>
					<TD  ALIGN=LEFT>09.45 &ndash; 10.30</TD>
					<TD  ALIGN=LEFT>Chemistry</TD>
					<TD  ALIGN=LEFT>0620/12</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>14th May 2018</TD>
					<TD  ALIGN=LEFT>09.45 &ndash; 10.30</TD>
					<TD  ALIGN=LEFT>Chemistry</TD>
					<TD  ALIGN=LEFT>0620/22</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>14th May 2018</TD>
					<TD  ALIGN=LEFT>10.45 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Chemistry</TD>
					<TD  ALIGN=LEFT>0620/32</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>14th May 2018</TD>
					<TD  ALIGN=LEFT>10.45 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Chemistry</TD>
					<TD  ALIGN=LEFT>0620/42</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>14th May 2018</TD>
					<TD  ALIGN=LEFT>14.00 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>First Language Arabic</TD>
					<TD  ALIGN=LEFT>0508/01</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>17th May 2018</TD>
					<TD  ALIGN=LEFT>11.00 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Chemistry</TD>
					<TD  ALIGN=LEFT>0620/62</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>17th May 2018</TD>
					<TD  ALIGN=LEFT>15.00 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>Foreign Language Arabic</TD>
					<TD  ALIGN=LEFT>0544/42</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>17th May 2018</TD>
					<TD  ALIGN=LEFT>14.00 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>First Language Arabic</TD>
					<TD  ALIGN=LEFT>05508/02</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>21st May 2018</TD>
					<TD  ALIGN=LEFT>10.10 &ndash; 10.45</TD>
					<TD  ALIGN=LEFT>Mandarin Chinese</TD>
					<TD  ALIGN=LEFT>0547/12</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>21st May 2018</TD>
					<TD  ALIGN=LEFT>11.00 &ndash; 12.15</TD>
					<TD  ALIGN=LEFT>Mandarin Chinese</TD>
					<TD  ALIGN=LEFT>0547/42</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>22nd May 2018</TD>
					<TD  ALIGN=LEFT>09.45 &ndash; 10.30</TD>
					<TD  ALIGN=LEFT>Biology</TD>
					<TD  ALIGN=LEFT>0610/12</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>22nd May 2018</TD>
					<TD  ALIGN=LEFT>09.45 &ndash; 10.30</TD>
					<TD  ALIGN=LEFT>Biology</TD>
					<TD  ALIGN=LEFT>0610/22</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>22nd May 2018</TD>
					<TD  ALIGN=LEFT>10.45 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Biology</TD>
					<TD  ALIGN=LEFT>0610/32</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>22nd May 2018</TD>
					<TD  ALIGN=LEFT>10.45 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Biology</TD>
					<TD  ALIGN=LEFT>0610/42</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>22nd May 2018</TD>
					<TD  ALIGN=LEFT>14.30 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>English Literature</TD>
					<TD  ALIGN=LEFT>0486/12</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>23rd May 2018</TD>
					<TD  ALIGN=LEFT>09.45 &ndash; 10.30</TD>
					<TD  ALIGN=LEFT>Physics</TD>
					<TD  ALIGN=LEFT>0625/12</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>23rd May 2018</TD>
					<TD  ALIGN=LEFT>09.45 &ndash; 10.30</TD>
					<TD  ALIGN=LEFT>Physics</TD>
					<TD  ALIGN=LEFT>0625/22</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>23rd May 2018</TD>
					<TD  ALIGN=LEFT>10.45 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Physics</TD>
					<TD  ALIGN=LEFT>0625/32</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>23rd May 2018</TD>
					<TD  ALIGN=LEFT>10.45 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Physics</TD>
					<TD  ALIGN=LEFT>0625/42</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>24th May 2018</TD>
					<TD  ALIGN=LEFT>10.30 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Business Studies</TD>
					<TD  ALIGN=LEFT>0450/12</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>25th May 2018</TD>
					<TD  ALIGN=LEFT>13.45 &ndash; 14.30</TD>
					<TD  ALIGN=LEFT>English Literature</TD>
					<TD  ALIGN=LEFT>0486/32</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>25th May 2018</TD>
					<TD  ALIGN=LEFT>14.45 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>English Literature</TD>
					<TD  ALIGN=LEFT>0486/42</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>30th May 2018</TD>
					<TD  ALIGN=LEFT>10.30 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Business Studies</TD>
					<TD  ALIGN=LEFT>0450/22</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>4th June 2018</TD>
					<TD  ALIGN=LEFT>14.00 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>Food and Nutrition</TD>
					<TD  ALIGN=LEFT>0648/12</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>5th June 2018</TD>
					<TD  ALIGN=LEFT>10.45 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Mandarin Chinese</TD>
					<TD  ALIGN=LEFT>0547/22</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>6th June 2018</TD>
					<TD  ALIGN=LEFT>14.45 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>Music</TD>
					<TD  ALIGN=LEFT>0410/12</TD>
				</TR>
			</table>

				<h2 id="table3">Cambridge Secondary Checkpoint   </h2><a class="btn btn-info float-right" href="#_top"><i class="fas fa-arrow-up"></i></a>
			<table class='table table-dark exam-table'>
				<THEAD>
					<TD  HEIGHT=17 ALIGN=LEFT><B>Date</B></TD>
					<TD  ALIGN=LEFT><B>Time</B></TD>
					<TD  ALIGN=LEFT><B>Syllabus Name</B></TD>
					<TD  ALIGN=LEFT><B>Syllabus Code</B></TD>
				</THEAD>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>16th April 2018</TD>
					<TD  ALIGN=LEFT>08.00 &ndash; 08.50</TD>
					<TD  ALIGN=LEFT>English as a Second Language</TD>
					<TD  ALIGN=LEFT>1110/1</TD>
				</TR>
				<TR>
					<TD  HEIGHT=17 ALIGN=LEFT>16th April 2018</TD>
					<TD  ALIGN=LEFT>09.00 &ndash; 09.50</TD>
					<TD  ALIGN=LEFT>English as a Second Language</TD>
					<TD  ALIGN=LEFT>1110/2</TD>
				</TR>
				<TR>
					<TD  HEIGHT=17 ALIGN=LEFT>16th April 2018</TD>
					<TD  ALIGN=LEFT>10.00 &ndash; 10.45</TD>
					<TD  ALIGN=LEFT>English as a Second Language</TD>
					<TD  ALIGN=LEFT>1110/3</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>17th April 2018</TD>
					<TD  ALIGN=LEFT>08.00 &ndash; 09.00</TD>
					<TD  ALIGN=LEFT>Mathematics</TD>
					<TD  ALIGN=LEFT>1112/1</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>17th April 2018</TD>
					<TD  ALIGN=LEFT>09.15 &ndash; 10.15</TD>
					<TD  ALIGN=LEFT>Mathematics</TD>
					<TD  ALIGN=LEFT>1112/2</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>18th April 2018</TD>
					<TD  ALIGN=LEFT>08.00 &ndash; 08.45</TD>
					<TD  ALIGN=LEFT>Science</TD>
					<TD  ALIGN=LEFT>1113/1</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>18th April 2018</TD>
					<TD  ALIGN=LEFT>09.00 &ndash; 09.45</TD>
					<TD  ALIGN=LEFT>Science</TD>
					<TD  ALIGN=LEFT>1113/2</TD>
				</TR>
			</table>

				<h2 id="table4">Cambridge A Level   </h2><a class="btn btn-info float-right" href="#_top"><i class="fas fa-arrow-up"></i></a>
			<table class='table table-dark exam-table'>
				<THEAD>
					<TD  HEIGHT=17 ALIGN=LEFT><B>Date</B></TD>
					<TD  ALIGN=LEFT><B>Time</B></TD>
					<TD  ALIGN=LEFT><B>Syllabus Name</B></TD>
					<TD  ALIGN=LEFT><B>Syllabus Code</B></TD>
				</THEAD>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>3rd April 2018</TD>
					<TD  ALIGN=LEFT>12.30 &ndash; Finish</TD>
					<TD  ALIGN=LEFT>Music</TD>
					<TD  ALIGN=LEFT>9703/3</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>8th May 2018</TD>
					<TD  ALIGN=LEFT>10.45 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Chemistry</TD>
					<TD  ALIGN=LEFT>9701/52</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>9th May 2018</TD>
					<TD  ALIGN=LEFT>10.15 &ndash; 12.15</TD>
					<TD  ALIGN=LEFT>Biology</TD>
					<TD  ALIGN=LEFT>9700/42</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>9th May 2018</TD>
					<TD  ALIGN=LEFT>14.15 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>Mathematics</TD>
					<TD  ALIGN=LEFT>9709/12</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>10th May 2018</TD>
					<TD  ALIGN=LEFT>10.00 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Physics</TD>
					<TD  ALIGN=LEFT>9702/42</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>11th May 2018</TD>
					<TD  ALIGN=LEFT>10.45 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Chemistry</TD>
					<TD  ALIGN=LEFT>9701/22</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>15th may 2018</TD>
					<TD  ALIGN=LEFT>10.00 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Physics</TD>
					<TD  ALIGN=LEFT>9702/33</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>16th May 2018</TD>
					<TD  ALIGN=LEFT>09.15 &ndash; 10.30</TD>
					<TD  ALIGN=LEFT>Biology</TD>
					<TD  ALIGN=LEFT>9700/22</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>16th May 2018</TD>
					<TD  ALIGN=LEFT>10.45 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Biology</TD>
					<TD  ALIGN=LEFT>9700/52</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>16th May 2018</TD>
					<TD  ALIGN=LEFT>14.45 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>Mathematics</TD>
					<TD  ALIGN=LEFT>9709/42</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>17th may 2018</TD>
					<TD  ALIGN=LEFT>10.00 &ndash; 12.00 </TD>
					<TD  ALIGN=LEFT>Chemistry</TD>
					<TD  ALIGN=LEFT>9701/42</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>18th May 2018</TD>
					<TD  ALIGN=LEFT>09.15 &ndash; 10.30</TD>
					<TD  ALIGN=LEFT>Physics</TD>
					<TD  ALIGN=LEFT>9702/22</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>18th May 2018</TD>
					<TD  ALIGN=LEFT>10.45 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Physics</TD>
					<TD  ALIGN=LEFT>9702/52</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>22nd May 2018</TD>
					<TD  ALIGN=LEFT>10.00 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Chemistry</TD>
					<TD  ALIGN=LEFT>9701/33</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>22nd May 2018</TD>
					<TD  ALIGN=LEFT>14.00 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>Music</TD>
					<TD  ALIGN=LEFT>9703/12</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>23rd May 2018</TD>
					<TD  ALIGN=LEFT>14.15 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>Mathematics</TD>
					<TD  ALIGN=LEFT>9709/62</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>24th May 2018</TD>
					<TD  ALIGN=LEFT>10.00 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Biology</TD>
					<TD  ALIGN=LEFT>9700/33</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>24th May 2018</TD>
					<TD  ALIGN=LEFT>14.15 &ndash; 16.00</TD>
					<TD  ALIGN=LEFT>Mathematics</TD>
					<TD  ALIGN=LEFT>9709/32</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>6th June 2018</TD>
					<TD  ALIGN=LEFT>11.00 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Biology</TD>
					<TD  ALIGN=LEFT>9700/12</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>7th June 2018</TD>
					<TD  ALIGN=LEFT>11.00 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Chemistry</TD>
					<TD  ALIGN=LEFT>9701/12</TD>
				</TR>
				<TR>
					<TD  HEIGHT=18 ALIGN=LEFT>11th June 2018</TD>
					<TD  ALIGN=LEFT>10.45 &ndash; 12.00</TD>
					<TD  ALIGN=LEFT>Physics</TD>
					<TD  ALIGN=LEFT>9702/12</TD>
				</TR>
				</table>
</div>

{% endblock %}
