<!DOCTYPE html>
{% extends "www/base.html" %}
{% load staticfiles %}
{% block title %}Gallery{% endblock %}
{% block body_block %}
<div class="overlay">
  <div class="carousel-logo">
    <img class="d-none d-md-block" src="{% static "images/kumala-logo.svg" %}" width="120px" alt="">
  </div>
  <div class="carousel-logo">
    <img class="d-block d-md-none" src="{% static "images/kumala-logo.svg" %}" width="60px" alt="">
  </div>
</div>

<div class="jumbotron">
  <h1 class="display-3 text-center">{{ page_title }}</h1>
  <p class="lead text-center">Our school is filled with creative students and teachers. <br> Explore our <a href="https://www.youtube.com/chandrakumalaschool" target="_blank">YouTube channel <i class="fab fa-youtube-square"></i></a> to get an idea of what it's like to study at Chandra Kumala School.</p>

</div>


<div class="gallery-container">

       <div class="thumbnail">
         <a href="{% static "/images/00076-1920x1080.jpg" %}">
           <img class="rounded" src="{% static "/images/00076-1920x1080.jpg" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/00102-1920x1137.jpg" %}">
           <img class="rounded" src="{% static "/images/00102-1920x1137.jpg" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/00288-1920x1080.jpg" %}">
           <img class="rounded" src="{% static "/images/00288-1920x1080.jpg" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/00335-1920x1080.jpg" %}">
           <img class="rounded" src="{% static "/images/00335-1920x1080.jpg" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/00336-1920x1080.jpg" %}">
           <img class="rounded" src="{% static "/images/00336-1920x1080.jpg" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/00475-1920x1080.jpg" %}">
           <img class="rounded" src="{% static "/images/00475-1920x1080.jpg" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/00578-1920x1080.jpg" %}">
           <img class="rounded" src="{% static "/images/00578-1920x1080.jpg" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/1.JPG" %}">
           <img class="rounded" src="{% static "/images/album/1.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/2.JPG" %}">
           <img class="rounded" src="{% static "/images/album/2.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/3.JPG" %}">
           <img class="rounded" src="{% static "/images/album/3.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/4.JPG" %}">
           <img class="rounded" src="{% static "/images/album/4.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/5.JPG" %}">
           <img class="rounded" src="{% static "/images/album/5.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/6.JPG" %}">
           <img class="rounded" src="{% static "/images/album/6.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/7.JPG" %}">
           <img class="rounded" src="{% static "/images/album/7.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/8.JPG" %}">
           <img class="rounded" src="{% static "/images/album/8.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/9.JPG" %}">
           <img class="rounded" src="{% static "/images/album/9.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/21.JPG" %}">
           <img class="rounded" src="{% static "/images/album/21.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/11.JPG" %}">
           <img class="rounded" src="{% static "/images/album/11.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/12.JPG" %}">
           <img class="rounded" src="{% static "/images/album/12.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/27.JPG" %}">
           <img class="rounded" src="{% static "/images/album/27.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/14.JPG" %}">
           <img class="rounded" src="{% static "/images/album/14.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/15.JPG" %}">
           <img class="rounded" src="{% static "/images/album/15.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/16.JPG" %}">
           <img class="rounded" src="{% static "/images/album/16.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/17.JPG" %}">
           <img class="rounded" src="{% static "/images/album/17.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/22.JPG" %}">
           <img class="rounded" src="{% static "/images/album/22.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/23.JPG" %}">
           <img class="rounded" src="{% static "/images/album/23.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/20.JPG" %}">
           <img class="rounded" src="{% static "/images/album/20.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/24.JPG" %}">
           <img class="rounded" src="{% static "/images/album/24.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

      <div class="thumbnail">
        <a href="{% static "/images/album/25.JPG" %}">
          <img class="rounded" src="{% static "/images/album/25.JPG" %}" alt="" style="width:100%">
        </a>
      </div>

</div>

{% endblock %}
