<!DOCTYPE html>
{% extends "www/base.html" %}
<!-- {% load wagtailcore_tags %} -->

{% load staticfiles %}

{% block page %}

<div class="row align-items-center m-0 p-0">
        <div class="col-lg d-block">
                <div class=" text-center">
                    <h3>🏆 BREAKING NEWS 🏆</h3>
                </div>
        </div>
</div>
<br>


<div class="row align-items-center m-0 p-0" >


        <div class="row align-items-center m-0 p-0">
                <div class="col-lg order-lg-0 m-0 p-0">
                        <div class=" text-center">
                          
                                <p>
                                        WSC (World Scholar's Cup) is a global celebration of learning and leadership. With more than 15000 participants from across 50 countries, this event brings students of diverse backgrounds together to explore new and interesting subjects. Chandra Kumala School proudly hosting Medan Round again in 2020. The two day event with theme [ A WORLD RENEWED ] will be done on the 27th to 28th February 2020.
                                </p>
                                <p class="mx-2">
                              
                                    <p>
                                            Four activities were created to offer something more than just traditional academic competitions and to motivate students not to just demonstrate their existing strength but also to discover new ones.
                                    </p>
                       
                
                                </p>
                            </div>
                </div>
                <div class="col-lg order-lg-1 m-0 p-0">
                        <div class=" text-center">
                                <p>
                                        There are four competitions in regional round to select which are :
                                
                                        <ol>
                                            <li>The Scholar's Challenge</li>
                                            <li>Collaborative Writing</li>
                                            <li>The Team Debate</li>
                                            <li>The Scholar's Bowl</li>
                                        </ol>
                                  
                                                Deadline for registration is 14th February 2020.
                              
                                                Check out the link to WSC's website: <a href="www.scholarscup.org/calendar/661-medan-round/">Scholars Cup - Medan Round</a>
                                        </p>
                
                                </p>
                            </div>
                </div>
            </div>













<br>




    <div class="row align-items-center m-0 p-0">
        <div class="col-lg d-block d-lg-none">
                <div class=" text-center">
                    <h3><i class="fas fa-graduation-cap fa-1x"></i> Experienced</h3>
                    <p class="mx-2">Chandra Kumala School has been educating students for 15 years. Nestled in a 5 hectare green campus, only thirty minutes from the centre of Medan.<br>
                        Education from 18 months up until 18 years.</p>
                </div>
        </div>
        <div class="col-lg m-0 p-0">
          <div class="container column text-white" width="600px">
              <img class="d-block w-100 " src="{% static "/images/1920x1080/00152.jpg" %}" alt="Promoting inclusion">
              <div class="top-right">
                <img class="d-none d-md-block" src="{% static "images/kumala-logo.svg" %}" width="60px" alt="">
                <img class="d-block d-md-none" src="{% static "images/kumala-logo.svg" %}" width="30px" alt="">
              </div>
              <div class="text-center">
                <h3 class="sizer"><h3>
              </div>
          </div>
        </div>
        <div class="col-lg d-none d-lg-block">
          <div class=" text-center">
                <h3><i class="fas fa-graduation-cap fa-1x"></i> Experienced</h3>
                <p class="mx-2">Chandra Kumala School has been educating students for 15 years. Nestled in a 5 hectare green campus, only thirty minutes from the centre of Medan.<br>
                    Education from 18 months up until 18 years.</p>
          </div>
        </div>
    </div>

    <br>

    <div class="row align-items-center m-0 p-0">

        <div class="col-lg order-lg-1 m-0 p-0">
          <div class="container text-white" width="600px">
              <img class="d-block w-100 " src="{% static "/images/1920x1080/00336.jpg" %}" alt="Class reading time">
              <div class="top-right">
                <img class="d-none d-md-block" src="{% static "images/kumala-logo.svg" %}" width="60px" alt="">
                <img class="d-block d-md-none" src="{% static "images/kumala-logo.svg" %}" width="30px" alt="">
              </div>
              <div class="text-center">
                <h3 class="sizer"><h3>
              </div>
          </div>
        </div>
        <div class="col-lg order-lg-0 m-0 p-0">
          <div class=" text-center">
                <h3 class=" d-none d-lg-block"><i class="fas fa-users"></i> Inclusive</h3>
                <p class="mx-2 d-none d-lg-block">Promoting team-work while building on students strengths.
                  With a maximum class size of 24 students, we are able to provide individualised curriculums
                  tailored to challenge and develop each student itellectually, socially and emotionally.
                  </p>
            <h3 class=""><i class="fas fa-child"></i><i class="fas fa-child"></i><i class="fas fa-child"></i> Tolerant</h3>
            <p class="mx-2">Our 'freedom of belief' programme helps all students discover their faith, while respecting the beliefs of others.
              We encourage students to act on their beliefs, which is why our Kindness Program is an integral part of our curriculum, encouraging students and teachers
              to promote kindness to all.</p>
          </div>
        </div>
    </div>

{% endblock %}
