{% extends "www/base.html" %}
{% load staticfiles %}
{% block page %}

<div class="jumbotron ">
  <h1>{{ page_title }}</h1>
  <h2>{{ page_desc }}</h2>
</div>

<div class="flex">
    <div class="flex-text">
        <p>On 8th September 2017, we held our regular parents enrichment workshop which tackled the importance of reading and also how to make reading interesting.</p>
        <p>Below are some of the questions from participants.</p>
        <p>For more information, please contact CKS Training Department.</p>
        <h2>Questionnaire Responses ...</h2>
    </div>

  <div class="flex-image">
    <img src="{% static "/images/workshop/DSC_8593.jpg" %}" />
  </div>
  <div class="flex-image">
    <img src="{% static "/images/workshop/DSC_8613.jpg" %}" />
  </div>

  <article class="flex-text">
    <h2>About child development</h2>
    <p>We will organise a workshop to discuss this further. Please keep in touch.</p>

      <h2>What kind of books do children enjoy or are commonly read by children?</h2>
      <p>Children will read whatever they are interested in. Fairy tales are as important as knowledge-based books. Fiction can help children feel and experience empathy, provoke thoughts and ideas. Picture books are great for younger children although adults can also appreciate beautiful illustrations.</p>
    </article>

    <div class="flex-image">
      <img src="{% static "/images/workshop/DSC_0012.jpg" %}" />
    </div>
    <div class="flex-image">
      <img src="{% static "/images/workshop/DSC_0013.jpg" %}" />
    </div>

  <article class="flex-text">
    <h2>What if parents don’t have time to read the books to children who not yet reach their reading-age?</h2>
    <p>10 minutes a day is all it takes! Reading to a young child is not just about reading, or developing vocabulary or anything academic. It is about creating a bond with the child.  A chance for them to have quiet quality time with you and build a lifelong connection. Barbara Johnson said, "To be in your child's memories tomorrow, you have to be in their lives today."</p>

    <h2>How to build up a reading habit to children?</h2>
    <p>In order to encourage reading habits in children, we need to ensure a number of events occur. Firstly, as much as possible, model the behaviour. Children learn through modelling. If parents read, children will read. However, if parents don't read, then make sure parents support the child's reading habit. Take them out to choose (borrow/rent/buy) books regularly. There are a number of good bookshops in Medan. Bookmarks Library in CKS and Cemara Asri are also available for borrowing and buying books. Create a reading environment at home. Books should not be locked up in a cupboard. Books scattered about the house are more likely to be read.  Restrict the use gadgets in your house to allow quiet opportunities for reading. Remember "Children are made readers in the lap of their parents.", so read to youngsters.</p>
  </article>

  <div class="flex-image">
    <img src="{% static "/images/workshop/DSC_8588.jpg" %}" />
  </div>
  <div class="flex-image">
    <img src="{% static "/images/workshop/DSC_0010.jpg" %}" />
  </div>

  <article class="flex-text">
    <h2>Information about bookstores in Medan which sells English Story Books</h2>
    <p>Bookmarks Library in CKS and Case2 (Cemara Asri) have a number of English books suitable for children for sale or borrowing (through a membership scheme). Gramedia offers limited English story books. Books and Beyond offers a better range of English books for teens and adults. Children’s books are limited in supply and tend to be gimmick-y (toy as the focus, not the story).</p>

    <h2>How to make children understand what they have read?</h2>
    <p>Reading, like learning, is not a linear process. A child may read the same book a number of times and absorb different information and vocabulary. The key is to offer books which are suitable for their reading age (not actual age) and encourage them to read a little beyond that to push themselves. Have a dictionary nearby but don't use it too often. Only enough to push the story along. "As a child I read books which were inappropriate. Naturally they contained words I had to look up. Later in life I became quite addicted to the Oxford English Dictionary.”( Lemony Snicket).
  Children, even adults, may not understand all the words in a book or all the circumstances in the scenes, but will still get enough out of the book at that time. Rereading it in the future will give them a different experience.</p>
  </article>

  <div class="flex-image">
    <img src="{% static "/images/workshop/DSC_0008.jpg" %}" />
  </div>
  <div class="flex-image">
    <img src="{% static "/images/workshop/DSC_0015.jpg" %}" />
  </div>

  <article class="flex-text">
    <h2>How to make children understand what they have read?</h2>
    <p>Reading, like learning, is not a linear process. A child may read the same book a number of times and absorb different information and vocabulary. The key is to offer books which are suitable for their reading age (not actual age) and encourage them to read a little beyond that to push themselves. Have a dictionary nearby but don't use it too often. Only enough to push the story along. "As a child I read books which were inappropriate. Naturally they contained words I had to look up. Later in life I became quite addicted to the Oxford English Dictionary.”( Lemony Snicket).
  Children, even adults, may not understand all the words in a book or all the circumstances in the scenes, but will still get enough out of the book at that time. Rereading it in the future will give them a different experience.</p>

    <h2>Renting books in Medan</h2>
    <p>Students of Chandra Kumala School are automatic members of Bookmarks library. They can borrow as many books as they like within the guideline of their membership. Non-CKS students, parents, or friends, can contact the library and subscribe to become a member. There are other independent book rental shops all around Medan, specifically in and around USU or Unimed area.</p>
  </article>

  <div class="flex-image">
    <img src="{% static "/images/workshop/DSC_4477.jpg" %}" />
  </div>
  <div class="flex-image">
    <img src="{% static "/images/workshop/DSC_4521.jpg" %}" />
  </div>

  <article class="flex-text">
    <h2>How to improve communication between parents and children?</h2>
    <p>Please ask for our next batch of “How to Communicate for Positive Parenting” training classes for adults.</p>

    <h2>How to handle children's boredom?</h2>
    <p>This is an interesting issue. We hope to be able to organise a discussion on this soon. Please keep in touch. If you need help sooner, please contact Ms Endang in Ex 150 for appointment with our Parenting Coach.</p>
  </article>

  <div class="flex-image">
    <img src="{% static "/images/workshop/DSC_0017.jpg" %}" />
  </div>
  <div class="flex-image">
    <img src="{% static "/images/workshop/DSC_0009.jpg" %}" />
  </div>
  <div class="flex-image">
    <img src="{% static "/images/workshop/DSC_8573.jpg" %}" />
  </div>


  <div class="flex-image">
    <img src="{% static "/images/workshop/DSC_8583.jpg" %}" />
  </div>
  <div class="flex-image">
    <img src="{% static "/images/workshop/DSC_0014.jpg" %}" />
  </div>
  <div class="flex-image">
    <img src="{% static "/images/workshop/DSC_0016.jpg" %}" />
  </div>
</div>

{% endblock %}
