{% extends "www/_base.html" %}
{% load staticfiles %}


{% block space %}
<div class="rocket text-center">
  <a href="{% url 'www:space' %}"><h1 style="center"><i class="fas fa-space-shuttle"></i> Welcome to our <b class="awesome">Space</b> page! <i style="transform: scale(-1, 1);" class="fas fa-space-shuttle"></i></h1>
</a>
</div>
{% endblock %}

{% block page %}
<div class="row">
  <div class="column col-md-12 col-lg-6 ">

<h1>Space Research Programme</h1>
<h4>Introduction by,</h4>
<h3> Fira Fatmasiefa, Project Manager</h3>
    <p>"The Chandra Kumala School Space Research Programme or CKSSRP for short, is a microgravity research project affiliated with NASA, under the help of Quest Institute America and Center for Innovative Learning Jakarta.
</p><p>
Basically, this programme is done to allow us send our research to the ISS, where it will be able to take place in a condition of no gravity.
</p><p>
Our research in particular, is to observe the growth Slime Mold inside a 3D-Maze. Slime Mold (Physarun polycephalum) a protist that is sensitive to light and reacts to stimuli such as food and water, where it will grow and make "branches" in order to reach food source.
</p><p>
In our research, we propose to use the Slime Mold as a model for stem cells used in transplantable engineering, where it can be interpreted to many different parts of biology, such as tissue growth and the evolution of molecular organisms. We hope that with this research, we can contribute and add references for future projects in molecular biology.
</p><p>
Our research is then built inside a chamber called the Micro Lab where the research will take place while it's in the International Space Station. Our team have sent our own Micro Lab to Quest Institute, where it will wait for its faithful launch aboard the Orbital ATK-OA-9, from Wallop Islands, Virginia, on the 22nd of May."

</p>
<h2>Keep checking back for updates.</h2>
<p>The two-stage launcher ignited its two Russian-made RD-181 main engines at 4:44:06 a.m. EDT (0844:06 GMT) Monday, and the Antares rocket lifted off a few seconds later from pad 0A at the Mid-Atlantic Regional Spaceport on Virginia’s Eastern Shore.
  <a href="https://www.space.com/40645-orbital-atk-antares-rocket-predawn-launch-oa9.html">Watch the launch here.</a></p>
<ul>
  <li><a href="https://spaceflightnow.com/2018/05/20/antares-launch-timeline-on-the-oa-9-cargo-mission/">
    Antares launch timeline on the OA-9 cargo mission</a></li>
  <li><a href="https://spaceflightnow.com/2018/05/21/antares-rocket-launch-kicks-off-space-stations-next-commercial-cargo-delivery/">
    The Antares launch.</a></li>
  <li>
    <a href="https://spaceflightnow.com/2018/05/20/orbital-atk-readies-cargo-ship-for-launch-to-space-station/">
    Loading of the Antares cargo (which includes our rocket)</a>
  </li>
</ul>
<p>The payload should dock with the Internation Space Station (ISS) within a couple of days, more details to follow.  When the payload docks with the International Space Station you will be able to watch <a href="https://www.youtube.com/watch?v=RtU_mdL2vBM">here</a>.</p>

  </div>
  <div class="column col-md-12 col-lg-6">
    <iframe width="100%" class="embed-responsive-item" src="https://www.youtube.com/embed/l2yEDgMVCAU?rel=0" allowfullscreen></iframe>

      <iframe width="100%" class="embed-responsive-item" src="https://www.youtube.com/embed/CrWNEbAI8VM?rel=0" allowfullscreen></iframe>
  </div>
</div>






{% endblock %}
