{% extends "www/base.html" %}
{% load staticfiles %}
{% block section %}


<div class="overlay">
  <div class="carousel-caption">
    <h1 class="display-3 d-none d-md-block">{{ page_title }}</h1>
    <h2 class="display-5 d-none d-md-block">{{ page_desc }}</h2>
  </div>
  <div class="carousel-logo">
    <img class="d-none d-md-block" src="{% static "images/kumala-logo.svg" %}" width="120px" alt="">
  </div>
  <div class="carousel-logo">
    <img class="d-block d-md-none" src="{% static "images/kumala-logo.svg" %}" width="60px" alt="">
  </div>
</div>

<!-- ENTER YOUR PAGE HERE. -->

{% endblock %}
