<!DOCTYPE html>
{% extends "www/_base.html" %}
{% load staticfiles %}
{% block title %}Gallery{% endblock %}
{% block page %}


<div class="jumbotron">
  <h1 class="text-center">{{ page_title }}</h1>
  <p class="lead text-center">Our school is filled with creative students and teachers. <br> Explore our <a href="https://www.youtube.com/chandrakumalaschool" target="_blank">YouTube channel <i class="fab fa-youtube-square"></i></a> and <a class="" href="https://www.instagram.com/chandrakumalaofficial/" target="_blank"><i class="fab fa-instagram"></i> Instagram account </a>
to get an idea of <br> what it's like to study at Chandra Kumala School.</p>
</div>


<a class="btn btn-primary" href="{% url 'www:trolls' %}"><h1>Order your Trolls Pictures here</h1></a>



<div class="gallery-container">

       <div class="thumbnail">
         <a href="{% static "/images/1920x1080/00076.jpg" %}">
           <img class="rounded" src="{% static "/images/1920x1080/00076.jpg" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/1920x1137/00102.jpg" %}">
           <img class="rounded" src="{% static "/images/1920x1137/00102.jpg" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/1920x1080/00288.jpg" %}">
           <img class="rounded" src="{% static "/images/1920x1080/00288.jpg" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/1920x1080/00335.jpg" %}">
           <img class="rounded" src="{% static "/images/1920x1080/00335.jpg" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/1920x1080/00336.jpg" %}">
           <img class="rounded" src="{% static "/images/1920x1080/00336.jpg" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/1920x1080/00475.jpg" %}">
           <img class="rounded" src="{% static "/images/1920x1080/00475.jpg" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/1920x1080/00578.jpg" %}">
           <img class="rounded" src="{% static "/images/1920x1080/00578.jpg" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/1.JPG" %}">
           <img class="rounded" src="{% static "/images/album/1.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/2.JPG" %}">
           <img class="rounded" src="{% static "/images/album/2.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/3.JPG" %}">
           <img class="rounded" src="{% static "/images/album/3.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/4.JPG" %}">
           <img class="rounded" src="{% static "/images/album/4.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/5.JPG" %}">
           <img class="rounded" src="{% static "/images/album/5.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/6.JPG" %}">
           <img class="rounded" src="{% static "/images/album/6.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/7.JPG" %}">
           <img class="rounded" src="{% static "/images/album/7.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/8.JPG" %}">
           <img class="rounded" src="{% static "/images/album/8.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/9.JPG" %}">
           <img class="rounded" src="{% static "/images/album/9.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/21.JPG" %}">
           <img class="rounded" src="{% static "/images/album/21.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/11.JPG" %}">
           <img class="rounded" src="{% static "/images/album/11.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/12.JPG" %}">
           <img class="rounded" src="{% static "/images/album/12.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/27.JPG" %}">
           <img class="rounded" src="{% static "/images/album/27.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/14.JPG" %}">
           <img class="rounded" src="{% static "/images/album/14.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/15.JPG" %}">
           <img class="rounded" src="{% static "/images/album/15.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/16.JPG" %}">
           <img class="rounded" src="{% static "/images/album/16.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/17.JPG" %}">
           <img class="rounded" src="{% static "/images/album/17.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/22.JPG" %}">
           <img class="rounded" src="{% static "/images/album/22.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/23.JPG" %}">
           <img class="rounded" src="{% static "/images/album/23.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/20.JPG" %}">
           <img class="rounded" src="{% static "/images/album/20.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

       <div class="thumbnail">
         <a href="{% static "/images/album/24.JPG" %}">
           <img class="rounded" src="{% static "/images/album/24.JPG" %}" alt="" style="width:100%">
         </a>
       </div>

      <div class="thumbnail">
        <a href="{% static "/images/album/25.JPG" %}">
          <img class="rounded" src="{% static "/images/album/25.JPG" %}" alt="" style="width:100%">
        </a>
      </div>

</div>

{% endblock %}
