/*
There are five types of categories:

Base, Layout, Module, State, Theme

Our theme colours :
#202565 Cream
#F5f4d6 Dark Blue
#E7af14
#Bcb2d5
#000000 Black
*/

/* Example Module */
.example { }

/* Callout Module */
.callout { }

/* Callout Module with State */
.callout.is-collapsed { }

/* Form field module */
.field { }

/* Inline layout  */
.l-inline { }

/*
Base Rules

A Base rule is applied to an element using an element selector, a descendent
selector, or a child selector, along with any pseudo-classes. It doesn’t
include any class or ID selectors. It is defining the default styling for how
that element should look in all occurrences on the page.
 */

html body {
  background: #202565;
  padding-top: 45px; /* Prevent top menu overlap */
  margin: 0;
  margin-bottom: 50px;
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}

body{
  background-color: #F5f4d6;
}

a:hover{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

nav {
  background-color: #F5f4d6;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: 700;
  position: fixed;
  top: 0;
  border-bottom:2px solid #E7af14;
}


/*
Layout Rules

Layout styles can also be divided into major and minor styles based on reuse.
Major layout styles such as header and footer are traditionally styled using
ID selectors but take the time to think about the elements that are common
across all components of the page and use class selectors where appropriate.
*/

.header {
    grid-area: hd;
}
.footer {
    grid-area: ft;
}
.content {
    grid-area: main;
}
.sidebar {
    grid-area: sd;
}

.jumbotron {
  padding: 5px;
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas:
          "hd hd hd hd   hd   hd   hd   hd   hd"
          "sd sd sd main main main main main main"
          "sd sd sd  ft  ft   ft   ft   ft   ft";
    }
}
@media (min-width: 700px) {
    .wrapper {
        grid-template-areas:
          "hd hd hd   hd   hd   hd   hd   hd hd"
          "sd sd main main main main main ft ft";
    }
}

/* @media (min-width: 1400px) {
    .container{
        max-width: 1200px;
    }
} */


* {box-sizing: border-box;}

.media {
  margin: auto;
    border: 5px solid #Bcb2d5;
    border-radius: 5px;
    background-color: #fff4e6;
    max-width: 600px;
}
.media {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "content img";
    margin-bottom: 1em;
}

.media.flipped {
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "img content";
}

.media .image {
    grid-area: img;
}

.media .text {
    grid-area: content;
    padding: 10px;

}


/*
Module Rules

Modules sit inside Layout components. Modules can sometimes sit within other
Modules, too. Each Module should be designed to exist as a standalone
component. In doing so, the page will be more flexible. If done right,
Modules can easily be moved to different parts of the layout without
breaking. When defining the rule set for a module, avoid using IDs and
element selectors, sticking only to class names. */


.navbar-brand {
  padding-left: 20px;

 font-size: 24px;
}

.navbar {
 font-size: 16px;
}

.container{

  padding: 0;
  background: #F5f4d6;

}
.container-center{
    height: 100%;
    display: block;
    vertical-align: middle;
}

.displayed {
    display: block;
    align: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

.social_media{
  display: inline-block;
  vertical-align: middle;
  float: none;
  font-size: 2em;
  color: #202565;
}

.cks-text {
  font-size: 1.5em;
  /* background-color: rgba(0, 0, 0, 0.4); */
  color: white;
  /* text-shadow: 0px 0px 4px #000000; */
}

.footer{
    border-top:2px solid #E7af14;
    padding: 0;
    margin: 0;
}


.overlay {
    position: relative;
    text-align: center;
    color: white;
}

/* Top left text */
.top-left {
    position: absolute;
    top: 8px;
    left: 10%;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.centered-right {
    position: absolute;
    top: 50%;
    right: 16px;
}

/* Centered text */
.bottom-centered {
    position: absolute;
    width: 80%;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, -20%);
}
/* Centered text */
.top-center {
    position: absolute;
    width:60%;
    top: 18px;
    left: 50%;
    transform: translate(-50%, -20%);
}


/* Centered text */
.top-centered {
    position: absolute;
    width: 80%;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -20%);
}


/* Carousel */

.carousel-control.left
{
background: none;
font-size: 100px;
}
.carousel-control.right
{
background: none;
font-size: 100px;
}

.carousel-control
{
position: absolute;
top: 45%;
bottom: 0;
left: 0;
width: 15%;
font-size: auto;
color: #fff;
text-align: center;
opacity: 1;
text-shadow: none;
}
.carousel-control:hover
{
color: #000;
}
.carousel-indicators
{
bottom: -50px;
}
.carousel-indicators li
{
display: inline-block;
width: 10px;
height: 10px;
margin: 1px;
text-indent: -999px;
cursor: pointer;
background-color: #000\9;
background-color: rgba(0,0,0,0);
border: 1px solid #16a085;
border-radius: 50%;
}
.carousel-indicators .active
{
width: 12px;
height: 12px;
margin: 0;
background-color: #16a085;
}
.carousel-caption
{
position: absolute;
right: 0;
bottom: 0;
left: 0;
z-index: 10;
padding-top: 20px;
padding-bottom: 20px;
color: #fff;
text-align: center;
background: rgba(0,0,0,0.4);
}

.carousel-logo
{
position: absolute;
right: 16px;
top: 0;
left: 20;
z-index: 10;
padding-top: 20px;
padding-bottom: 20px;
text-align: right;
}
