

html body {
  background: MidnightBlue;
  margin: 0;
  font-size: 100%;
  font-family: 'PT Serif', serif;
}


flex-page{display: flex;
          min-height: 100vh;
          flex-direction: column;
}

flex-title{
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}


header {
  padding: 0px;
  font-weight: 700;
  font-family: 'Libre Baskerville', sans-serif;
  background-color: PapayaWhip;
  background-image: url("/static/images/1920x1080/00288.jpg");
  background-position: center 20px top;
}


main{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 1;
}

nav {
  background-color: #363636;
  color: white;
  height: auto;
  align-items: center;
  align-content: center;
  font-weight: 500;
  font-style: normal;
  position: fixed;
  top: 0px;
  border-top:2px solid Orange;
  border-bottom:2px solid Orange;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

.container { padding-right: 0px; padding-left: 0px; }


.columns{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.column{
    flex: 1 0 50%;
    height: 100%;
    position: relative;
    text-align: center;
}


.column-three{
    flex: 1 0 25%;
    height: 100%;
    position: relative;
    text-align: center;
}

.sizer{
  font-size: 5vh;
}


.rocket{
  align-items: center;
  background-color: #363636;
  width: 100%;
  text-align: center;
  color: white;
  height: auto;
  align-items: center;
  align-content: center;
}


.text-center {
    display: block;
    align: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

.whiter{
  background-color:rgba(255,255,255,0.6);
  padding: 10px;
}

.navbar-brand {
  font-size: 2em;
  padding:0;
}

.navbar{
  padding: 0;
}

nav a {
    color:white;
    text-decoration:none;
}

a:hover {
    text-decoration:none;
}

nav svg:hover {
  color:green;
}

footer{
    border-top:2px solid Orange;

    background: PapayaWhip;
    background-image: url("/static/images/1920x1080/00288.jpg");
    background-position: center 20px bottom;
    padding: 0;
    margin: 0;
}

#flex-footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


main {
  /* Removes padding from banner, ensures consistent background color. */
  padding: 0;
  /* Flex stuff */
  display: flex;
  align-items: stretch;
  flex: 1;
}

section{
  padding: 0;
  background-color: white;
  flex-direction: column;
  /* Flex stuff */
  display: flex;
  flex: 1 0;
  order: 1;
}

aside{
  background-color: #363636;
  width: 40px;
  order: 2;
  overflow: hidden;
}

.row{
  padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 30px;
}

.rotated {
  transform: rotate(90deg);
  position: relative;
}


/* Google Translate Issues */

.jumbotron {
  padding: 15px;
  border-radius: 0px;
}


/* Reading.html */

img {max-width:100%;}

.flex{
  width: 95%;
  padding: 30px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
}

.flex-text{
  flex-basis: 2;
}

.flex-image {
  padding: 5px;
  height: 300px;
  width: 400px;
  overflow: hidden;
  flex-basis: 1;
}

/* Gallery Page */

.gallery-container{
  max-width: 1400px;
  margin: 40px auto 0 auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

iframe{
  width: 100%;
  height: 550px;
}

.thumbnail{
  width: 300px;
  height: 200px;
  line-height: 100px;
  margin-bottom: 20px;
}

.loader {
  filter:hue-rotate(0deg);
  color:linear-gradient(45deg,#0f8,#08f);
  animation:hue 5000ms infinite linear;
}

/*
Centre Stuff
*/

.exams{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
}

.rounded {
    border-radius: 35px;
}

/* Scholarships Page */
iframe, .card {
  /* Allows the iframe to be centered. */
  display:block;
  margin: auto;
}


/* -------------------------------------------------------------------------
CAROUSEL CSS
*/

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: .7;
}

/* Top right text */
.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .overlay {
    /* Ensures Carousel logo and Caption are displayed in-line with the body, and text color is white. */
    position: relative;
    text-align: center;
    color: white;
} */

.carousel-control:hover{
  color: Black;
}

.carousel-indicators{
  top: 20px;
}

.carousel-indicators li{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  color: purple;
  background-color: Black;
  background-color: PapayaWhip;
  border: 1px solid Orange;
  border-radius: 50%;
}

.carousel-indicators .active{
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #363636;
}

.carousel-caption{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  color: #fff;
  text-align: center;
  background: #00000040;
}

.carousel-logo{
  position: absolute;
  right: 16px;
  top: 0;
  left: 20;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}

/*
Mobile Responsive CSS
*/



@media screen and (max-width: 768px) {
      h1 { font-size: 30px; }
      h2 { font-size: 25px; }
      html, body {width: 100%;}
      footer { flex-direction: column; }
      .column{ flex: 1 0 100%; }
      .column2{ order: 2; }
      .container { padding-right: 0px; padding-left: 0px; }
      main{ flex-direction: column;}
      .rotated { transform: rotate(0deg); position: relative; }
      aside{ width: 100%; order: 1; }
      section{ order: 2;}
}

.awesome {
      animation: colorchange 20s infinite alternate;
      color:#313131;
      font-weight: bold;
}

@-webkit-keyframes colorchange {
      0%  {color: LightBlue; }
      20% {color: Green ;}
      40% {color: Yellow ;}
      60% {color: Red ;}
      80% {color: Purple;}
      100% {color: LightBlue;}
}

.thrust {
      animation: colorchange2 5s infinite alternate;
      color:#313131;
      font-weight: bold;
}



@-webkit-keyframes colorchange2 {
      0%  {color: red; }
      50% {color: orange ;}
      100% {color: yellow ;}
}
}
