/* Base Rules */

nav{
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

html body {
  background: #202565;
  /* padding-top: 45px; /* Prevent top menu overlap */ */
  margin: 0;
  margin-bottom: 50px;
  font-family: 'PT Sans', sans-serif;
  height: 100%;
}


body {
  background-color: #Bcb2d5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

nav {
  background-color: #F5f4d6;
  font-family: 'Libre Baskerville', sans-serif;
  font-weight: 700;
  position: fixed;
  top: 0px;
}
.nav-item{
   text-align: right;
}


.table ._top{
  flex-basis: 50%;
  font-size: 50;
}
/* Layout Rules */
.ExamTimetable{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
}

.table{
  flex: 1;
  flex-basis: : 90%;
}


/*
@media (min-width:900px) {
  .ExamTimetable{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
} */



header{
    border-bottom:2px solid #E7af14;
}

footer{
    border-top:2px solid #E7af14;
    background: #F5f4d6;
    padding: 0;
    margin: 0;
}

/* Module Rules */

@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateY(-100);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

#threeLines{
  border: 0;
}

/* .petals {
  fill: #94d31b;
}
.petals:hover {
  fill: #ace63c;
} */

.navbar-brand {
  font-size: 24px;
}

.navbar {
 font-size: 18px;
}

.navbar-nav > li > .dropdown-menu { background-color: #FF0000; }

.container{
  /* Removes badding from banner, ensures consistent background color. */
  padding: 0;
  background: #F5f4d6;
}

iframe, .card {
  /* Allows the iframe to be centered. */
  display:block;
  margin: auto;
}

.jumbotron {
  /* Shrink borders and apply lilac background.  */
  padding: 0px;
  /* background-color: #Bcb2d5; */
  border-radius: 0px;
}

.text-center {
    display: block;
    align: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }



.event{
    border-bottom:2px solid #E7af14;
}

.social_media {
  /* Used to style Font Awesome Social Media icons. */
  display: inline-block;
  vertical-align: middle;
  float: none;
  font-size: 2em;
  color: #202565;
}

/* CAROUSEL CSS */

.overlay {
    /* Ensures Carousel logo and Caption are displayed in-line with the body, and text color is white. */
    position: relative;
    text-align: center;
    color: white;
}

.carousel-control:hover{
  color: #000;
}

.carousel-indicators{
  bottom: 0px;
}

.carousel-indicators li{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000\9;
  background-color: rgba(255,0,0,0);
  border: 1px solid #E7af14;
  border-radius: 50%;
}

.carousel-indicators .active{
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #F5f4d6;
}

.carousel-caption{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  /* max-height: 220px;
  padding-top: auto; /* Height of dark background */
  /* padding-bottom: auto; */ */
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,0.4);
}

.carousel-logo{
  position: absolute;
  right: 16px;
  top: 0;
  left: 20;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
}
