<!DOCTYPE html>
{% extends "www/base.html" %}
{% load staticfiles %}
<head>
  <title>About Title</title>
</head>
{% block body_block %}

<div class="container">
  <img src="{% static "/images/Chandra Kumala-00076.jpg" %}" alt="a-Maze-ing"  style="width:100%;">
  <div class="top-left cks-text"><h1 class="display-3">Who we are...</h1></div>
  <div class="top-right cks-text"><img src="{% static "images/logo.png" %}" width="176px" alt=""></div>
  <div class="bottom-centered lead cks-text">
    <br><br>
    <p class="text-large">  We recognise and develop individual passions, using that enthusiasm to fuel lifelong learning. Through promoting personal responsibility and understanding, we encourage students to become productive members of their communities.</p>
  </div>
</div>






{% endblock %}
