<!DOCTYPE html>
{% extends "www/base.html" %}
{% load staticfiles %}

{% block body_block %}
<div class="jumbotron">
  <h1 class="display-3" style="text-align:center;">{{ page_title }}</h1>
  <p class="lead" style="text-align:center;">We recognise and develop individual passions, using that enthusiasm to fuel lifelong learning. Through promoting personal responsibility and understanding, we encourage students to become productive members of their communities.</p>
</div>

<div class="overlay">
  <img src="{% static "/images/00076-1920x800.jpg" %}" alt="a-Maze-ing"  style="width:100%;">
  <div class="top-right"><img src="{% static "images/kumala-logo.svg" %}" width="120px" alt=""></div>
</div>


{% endblock %}
