<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|PT+Sans" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <title>{{ page_title }}</title>
  <link rel="stylesheet" href="{% static "css/master.css" %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body>
    <div class="wrapper">
      <header class="sticky-top">  </header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light container">
      <a class="navbar-brand" href="#"><img src="{% static "images/logo.png" %}" width="32px" alt="">  Chandra Kumala School</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'www:about' %}">About CKS <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
          <a class="nav-link" href="{% url 'www:academics' %}">Academics <span class="sr-only">(current)</span></a>
                    </li>


          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropdown-toggle-split" href="{% url 'www:academics' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Academics
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'www:academics' %}">Academics </a>
              <a class="dropdown-item" href="{% url 'www:alumni' %}">Alumni</a>
              <a class="dropdown-item" href="{% url 'www:careers' %}">Careers</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'www:contact' %}">Contact Us</a>
            </div>
          </li> -->



          <li class="nav-item active">
            <a class="nav-link" href="{% url 'www:admissions' %}">Admissions <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle dropdown-toggle-split" href="{% url 'www:academics' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gallery
            </a>
            <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'www:gallery' %}">Pictures</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'www:videos' %}">Videos</a
            </div>
          </li>



          <li class="nav-item active">
            <a class="nav-link" href="{% url 'www:contact' %}">Contact <span class="sr-only">(current)</span></a>
          </li>



          </li>
          <!-- <li class="nav-item active">
            <a class="nav-link" href="{% url 'admin:index' %}">Admin <span class="sr-only">(current)</span></a>
          </li> -->
        </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
      </div>
    </nav>



<div class="container">

<div class="sidebar">
</div>

    <div class="content">
      {% block body_block %}
      {% endblock %}
    </div>
  </div>







    <footer>

    <div class="container">

      <div class="row footer">
            <div class="col-md-3 displayed">
              <a class="social_media" href="tel:+62-061-661-6765"><small><small> Call </small></small><i class="fas fa-mobile"></i></a>
              <a class="social_media" href="mailto:info@chandrakumala.com?Subject=Website%20question" target="_top"><small><small> Email </small></small><i class="fas fa-envelope-square"></i></a>

            </div>
            <div class="col-md-6 displayed">
              <small><p>Chandra Kumala School, Perumahan Cemara Asri<br> No.1 Block O Deliserdang, Medan, Indonesia, 20317</p></small>


            </div>
            <div class="col-md-3 displayed">
              <a class="social_media" href="https://www.facebook.com/ChandraKumalaSchool/" target="_blank"><i class="fab fa-facebook"></i></a>
              <a class="social_media" href="https://www.instagram.com/chandrakumalaofficial/" target="_blank"><i class="fab fa-instagram"></i></a>
              <a class="social_media" href="https://www.youtube.com/chandrakumalaschool" target="_blank"><i class="fab fa-youtube-square"></i></a>
            </div>

      </div>
    </div>
    </footer>
</div>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body></html>
