<!DOCTYPE html>
{% extends "www/base.html" %}
{% load staticfiles %}
{% block body_block %}


<div class="displayed">
  <br>
  <div class="media">
    <div class="text">
      <h1 class="displayed">Contact Details</h1>
      <p class="displayed">
      <a href="tel:+62-061-661-6765">Call or Skype +62-061-661-6765  <i class="fas fa-mobile"></i></a> <br><a href="mailto:info@chandrakumala.com?Subject=Website%20question" target="_top"> Email : info@chandrakumala.com  <i class="fas fa-envelope-square"></i></a></p>
    </div>
    <div class="image">
      <img class="displayed" src="{% static "images/kumala-logo.svg" %}"  style="width:120px; vertical-align:middle;" alt="SVG not found">
    </div>
  </div>
  <h2 class="displayed">Visit our campus ...</h2>

  <iframe class="displayed" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.788015720234!2d98.70464181348703!3d3.6357996973543907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x303133cb86bccbe3%3A0x74aa644c1519ba8b!2sChandra+Kumala+School!5e0!3m2!1sen!2sid!4v1518526602341" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>




{% endblock %}
