<!DOCTYPE html>
{% extends "www/base.html" %}
{% load staticfiles %}
{% block title %}Gallery{% endblock %}
{% block body_block %}



<div class="container">


    <div class="row">
     <div class="col-md-4">
       <div class="thumbnail">
         <a href="{% static "/images/00076-1920x1080.jpg" %}">
           <img src="{% static "/images/00076-1920x1080.jpg" %}" alt="" style="width:100%">
           <div class="caption">
             <!-- <p>Lorem ipsum...</p> -->
           </div>
         </a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
         <a href="{% static "/images/00102-1920x1137.jpg" %}">
           <img src="{% static "/images/00102-1920x1137.jpg" %}" alt="" style="width:100%">
           <div class="caption">
             <!-- <p>Lorem ipsum...</p> -->
           </div>
         </a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
         <a href="{% static "/images/00288-1920x1080.jpg" %}">
           <img src="{% static "/images/00288-1920x1080.jpg" %}" alt="" style="width:100%">
           <div class="caption">
             <!-- <p>Lorem ipsum...</p> -->
           </div>
         </a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
         <a href="{% static "/images/00335-1920x1080.jpg" %}">
           <img src="{% static "/images/00335-1920x1080.jpg" %}" alt="" style="width:100%">
           <div class="caption">
             <!-- <p>Lorem ipsum...</p> -->
           </div>
         </a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
         <a href="{% static "/images/00336-1920x1080.jpg" %}">
           <img src="{% static "/images/00336-1920x1080.jpg" %}" alt="" style="width:100%">
           <div class="caption">
             <!-- <p>Lorem ipsum...</p> -->
           </div>
         </a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
         <a href="{% static "/images/00475-1920x1080.jpg" %}">
           <img src="{% static "/images/00475-1920x1080.jpg" %}" alt="" style="width:100%">
           <div class="caption">
             <!-- <p>Lorem ipsum...</p> -->
           </div>
         </a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
         <a href="{% static "/images/00578-1920x1080.jpg" %}">
           <img src="{% static "/images/00578-1920x1080.jpg" %}" alt="" style="width:100%">
           <div class="caption">
             <!-- <p>Lorem ipsum...</p> -->
           </div>
         </a>
       </div>
     </div>
   </div>



</div>




{% endblock %}
