<!DOCTYPE html>
{% extends "www/base.html" %}
{% load staticfiles %}
{% block title %}Gallery{% endblock %}
{% block body_block %}
<div class="overlay">
  <div class="carousel-logo">
    <img class="d-none d-md-block" src="{% static "images/kumala-logo.svg" %}" width="120px" alt="">
  </div>
  <div class="carousel-logo">
    <img class="d-block d-md-none" src="{% static "images/kumala-logo.svg" %}" width="60px" alt="">
  </div>
</div>

<div class="jumbotron">
  <h1 class="display-3" style="text-align:center;">{{ page_title }}</h1>
  <p class="lead" style="text-align:center;">Our school is filled with creative students and teachers. <br> Explore our <a href="https://www.youtube.com/chandrakumalaschool" target="_blank">YouTube channel <i class="fab fa-youtube-square"></i></a> to get an idea of what it's like to study at Chandra Kumala School.</p>

</div>


<div class="container">
    <div class="row">
     <div class="col-md-4">
       <div class="thumbnail">
         <a href="{% static "/images/00076-1920x1080.jpg" %}">
           <img src="{% static "/images/00076-1920x1080.jpg" %}" alt="" style="width:100%">
           <div class="caption">
             <!-- <p>Lorem ipsum...</p> -->
           </div>
         </a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
         <a href="{% static "/images/00102-1920x1137.jpg" %}">
           <img src="{% static "/images/00102-1920x1137.jpg" %}" alt="" style="width:100%">
           <div class="caption">
             <!-- <p>Lorem ipsum...</p> -->
           </div>
         </a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
         <a href="{% static "/images/00288-1920x1080.jpg" %}">
           <img src="{% static "/images/00288-1920x1080.jpg" %}" alt="" style="width:100%">
           <div class="caption">
             <!-- <p>Lorem ipsum...</p> -->
           </div>
         </a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
         <a href="{% static "/images/00335-1920x1080.jpg" %}">
           <img src="{% static "/images/00335-1920x1080.jpg" %}" alt="" style="width:100%">
           <div class="caption">
             <!-- <p>Lorem ipsum...</p> -->
           </div>
         </a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
         <a href="{% static "/images/00336-1920x1080.jpg" %}">
           <img src="{% static "/images/00336-1920x1080.jpg" %}" alt="" style="width:100%">
           <div class="caption">
             <!-- <p>Lorem ipsum...</p> -->
           </div>
         </a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
         <a href="{% static "/images/00475-1920x1080.jpg" %}">
           <img src="{% static "/images/00475-1920x1080.jpg" %}" alt="" style="width:100%">
           <div class="caption">
             <!-- <p>Lorem ipsum...</p> -->
           </div>
         </a>
       </div>
     </div>
     <div class="col-md-4">
       <div class="thumbnail">
         <a href="{% static "/images/00578-1920x1080.jpg" %}">
           <img src="{% static "/images/00578-1920x1080.jpg" %}" alt="" style="width:100%">
           <div class="caption">
             <!-- <p>Lorem ipsum...</p> -->
           </div>
         </a>
       </div>
     </div>
   </div>



</div>




{% endblock %}
