<!DOCTYPE html>
{% extends "www/base.html" %}
{% load staticfiles %}
{% block body_block %}

  <div class="container">
    <img  class="container" src="{% static "/images/Chandra Kumala-00142.jpg" %}" alt="">
    <p class="lead creamjumb"><strong>CKS is a holistic school where children are encouraged to discover and follow their passion.</strong></p>
    <img  class="container thumb" src="{% static "/images/Chandra Kumala-00475.jpg" %}" alt="">
    <p class="lead creamjumb"><strong>We cultivate kindness, compassion and inclusivity in our teaching and learning process.</strong></p>
    <img  class="container thumb" src="{% static "/images/Chandra Kumala-00335.jpg" %}" alt="">
    <p class="lead creamjumb"><strong>We also believe that play and learning combined provides the best educational experience.</strong></p>
  </div>

  <div class="container creamjumb">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mStjJf6p1Bs?rel=0" allowfullscreen></iframe>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JwxyIS5oeGY?rel=0" allowfullscreen></iframe>
    </div>
  </div>


  <div class="container creamjumb">
    <a class="social_media" href="https://www.facebook.com/ChandraKumalaSchool/"><i class="fab fa-facebook"></i></a>
    <a class="social_media" href="https://www.instagram.com/chandrakumalaofficial/"><i class="fab fa-instagram"></i></a>
    <a class="social_media" href="https://www.youtube.com/chandrakumalaschool"><i class="fab fa-youtube-square"></i></a>
    <p class="align-middle">Call us now...</p>
    <a class="social_media" href="tel:+62-061-661-6765"><i class="fas fa-mobile"></i></a>
  </div>

{% endblock %}
