<!DOCTYPE html>
{% extends "www/base.html" %}
{% load staticfiles %}
{% block body_block %}


  <div class="container">
    <img  class="container" src="{% static "/images/Chandra Kumala-00142.jpg" %}" alt="">
    <div class="top-right cks-text"><img src="{% static "images/logo.png" %}" width="176px" alt=""></div>
  </div>
  <div class="container">
    <p class="lead cks-cream"><strong>CKS is a holistic school where children are encouraged to discover and follow their passion.</strong></p>
    <img  class="container thumb" src="{% static "/images/Chandra Kumala-00475.jpg" %}" alt="">
    <p class="lead cks-cream"><strong>We cultivate kindness, compassion and inclusivity in our teaching and learning process.</strong></p>
    <img  class="container thumb" src="{% static "/images/Chandra Kumala-00335.jpg" %}" alt="">
    <p class="lead cks-cream"><strong>We also believe that play and learning combined provides the best educational experience.</strong></p>
  </div>

  <div class="container cks-cream">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mStjJf6p1Bs?rel=0" allowfullscreen></iframe>
    </div>


    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JwxyIS5oeGY?rel=0" allowfullscreen></iframe>
    </div>
  </div>




{% endblock %}
