<!DOCTYPE html>
{% extends "www/base.html" %}
{% load staticfiles %}
{% block body_block %}

<div class="content">
    <img class="centered" src="{% static "svg/home.svg" %}" width="176px" alt="SVG not found">
    <div class="overlay">
      <img  class="container" src="{% static "/images/Chandra Kumala-00153.jpg" %}" alt="">
      <img class="top-right" src="{% static "images/logo.png" %}" width="176px" alt="">

      <div class="top-left"><p  class="cks-text" style="font-size: 1.5em"><strong>CKS is a holistic school where children are encouraged<br> to discover and follow their passion.</strong></p></div</div>
    </div>
    <div class="overlay">
      <img  class="container" src="{% static "/images/Chandra Kumala-00475.jpg" %}" alt="">
      <div class="top-center"><p  class="cks-text" style="font-size: 1.5em"><strong>We cultivate kindness, compassion and inclusivity<br> in our teaching and learning process.</strong></p></div>
    </div>
    <div class="overlay">
      <img  class="container thumb" src="{% static "/images/Chandra Kumala-00335.jpg" %}" alt="">
      <div class="top-left"><p  class="cks-text" style="font-size: 1.5em"><strong>We also believe that play and learning combined provides <br>the best educational experience.</strong></p></div>
    </div>
</div>


{% endblock %}
