<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>CKS Mockup Plain</title>
    <link rel="stylesheet" href="{% static "css/master.css" %}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top container" >
      <a class="navbar-brand" href="#"><img src="{% static "images/logo.png" %}" width="32px" alt="">  Chandra Kumala School</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">About CKS <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Academics <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Admissions <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Gallery <span class="sr-only">(current)</span></a>
          </li>
        </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
      </div>
    </nav>

<!-- End Navigation  -->

    <div class="container">
      <img  class="container" src="{% static "/images/Chandra Kumala-00142.jpg" %}" alt="">
      <p class="lead creamjumb"><strong>CKS is a holistic school where children are encouraged to discover and follow their passion.</strong></p>
      <img  class="container thumb" src="{% static "/images/Chandra Kumala-00475.jpg" %}" alt="">
      <p class="lead creamjumb"><strong>We cultivate kindness, compassion and inclusivity in our teaching and learning process.</strong></p>
      <img  class="container thumb" src="{% static "/images/Chandra Kumala-00335.jpg" %}" alt="">
      <p class="lead creamjumb"><strong>We also believe that play and learning combined provides the best educational experience.</strong></p>
    </div>

    <div class="container creamjumb">

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mStjJf6p1Bs?rel=0" allowfullscreen></iframe>
      </div>

      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JwxyIS5oeGY?rel=0" allowfullscreen></iframe>
      </div>

    </div>


    <div class="container creamjumb">
      <a class="social_media" href="https://www.facebook.com/ChandraKumalaSchool/"><i class="fab fa-facebook"></i></a>
      <a class="social_media" href="https://www.instagram.com/chandrakumalaofficial/"><i class="fab fa-instagram"></i></a>
      <a class="social_media" href="https://www.youtube.com/chandrakumalaschool"><i class="fab fa-youtube-square"></i></a>
      <p class="align-middle">Call us now...</p>
      <a class="social_media" href="tel:+62-061-661-6765"><i class="fas fa-mobile"></i></a>
    </div>


  </body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
