{% extends "www/base.html" %}
{% load staticfiles %}
{% block body_block %}


<div class="overlay">
  <div class="carousel-caption">
    <h1 class="display-3 d-none d-md-block">{{ page_title }}</h1>
    <h2 class="display-5 d-none d-md-block">{{ page_desc }}</h2>
  </div>
  <div class="carousel-logo">
    <img class="d-none d-md-block" src="{% static "images/kumala-logo.svg" %}" width="120px" alt="">
  </div>
  <div class="carousel-logo">
    <img class="d-block d-md-none" src="{% static "images/kumala-logo.svg" %}" width="60px" alt="">
  </div>
</div>


<div class="jumbotron">
  <h1 class="display-3">Please login</h1>
  <p class="lead"></p>
  <form class="" action="{% url 'www:user_login' %}" method="post">
    {% csrf_token %}
    <label for="username">Username : </label>
    <input type="text" name="username" placeholder="Enter username">

    <label for="password">Password:</label>
    <input type="password" name="password">

    <input type="submit" name="" value="Login">
  </form>
</div>


<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>


{% endblock %}
