<!DOCTYPE html>
{% extends "www/base.html" %}
{% load staticfiles %}
{% block body_block %}


<div class="overlay d-none d-md-block">
  <div class="carousel-caption">
    <h1 class="display-1">{{ page_title }}</h1>
    <div class="carousel-logo">
      <img class="d-none d-md-block" src="{% static "images/kumala-logo.svg" %}" width="120px" alt="">
    </div>
    <div class="carousel-logo">
      <img class="d-block d-md-none" src="{% static "images/kumala-logo.svg" %}" width="60px" alt="">
    </div>
  </div>
</div>


<div class="jumbotron text-center">
  <h3 class="display-3">Come join our activities ...</h3>
  <p class="lead">{{ page_desc}}</p>
</div>

<div class="row text-center">
  <div class="col-md-4">
    <div class="img-thumbnail">
      <a href="{% static "/images/playday/yogaworkshop.jpg" %}">
        <img src="{% static "/images/playday/yogaworkshop.jpg" %}" alt="Yoga Workshop" style="width: 100%">
        <div class="caption">
          <h4 class="card-title">Free Yoga Workshop<br>@6:30am</h4>
          <p class="card-text">Start your day with a Yoga Session, please bring your own mat.  Free to join!</p>
        </div>
      </a>
    </div>
  </div>

 <div class="col-md-4">
   <div class="img-thumbnail">
     <a href="{% static "/images/playday/igdrawing.jpg" %}">
       <img src="{% static "/images/playday/igdrawing.jpg" %}" alt="Freehand Drawing Competition" style="width: 100%">
       <div class="caption">
         <h4 class="card-title">Freehand Drawing Competition @3pm</h4>
         <p class="card-text">Seperate categories for 6-9, 10-13 & 14-17 year olds. Registration between 50 to 100k depending on age.</p>
       </div>
     </a>
   </div>
 </div>

 <div class="col-md-4">
   <div class="img-thumbnail">
     <a href="{% static "/images/playday/igcrochet.jpg" %}">
       <img src="{% static "/images/playday/igcrochet.jpg" %}" alt="Crochet Workshop" style="width: 100%">
       <div class="caption">
         <h4 class="card-title">Beginners Crochet Workshop @9am</h4>
         <p class="card-text">Use your spare time productively. All materials provided, suitable for beginners. Take your work home with you. 50k Registration.</p>
       </div>
     </a>
   </div>
 </div>
 <div class="col-md-4">
   <div class="img-thumbnail">
     <a href="{% static "/images/playday/igcupcakedecorating.jpg" %}">
       <img src="{% static "/images/playday/igcupcakedecorating.jpg" %}" alt="Cupcake Decorating Competition" style="width: 100%">
       <div class="caption">
         <h4 class="card-title">Cupcake Decorating Competition @10am</h4>
         <p class="card-text">10am Cupcake decorating competition.  Includes 1 hour demonstration.  Basic materials provided, but feel free to bring extra! Each team must have 2 or 3 participants. 25k Registration</p>
       </div>
     </a>
   </div>
 </div>
 <div class="col-md-4">
   <div class="img-thumbnail">
     <a href="{% static "/images/playday/archaeologicalsandpit.jpg" %}">
       <img src="{% static "/images/playday/archaeologicalsandpit.jpg" %}" alt="Archaeological Sandpit dig" style="width:100%">
       <div class="caption">
         <p>Grab a spade and search for burried Archaeological treasures.</p>
       </div>
     </a>
   </div>
 </div>
 <div class="col-md-4">
   <div class="img-thumbnail">
     <a href="{% static "/images/playday/bakiakrace.jpg" %}">
       <img src="{% static "/images/playday/bakiakrace.jpg" %}" alt="Bakiak Race" style="width:100%">
       <div class="caption">
         <p>The ultimate group coordinated walking race.</p>
       </div>
     </a>
   </div>
 </div>
 <div class="col-md-4">
   <div class="img-thumbnail">
     <a href="{% static "/images/playday/bouncingcastle.jpg" %}">
       <img src="{% static "/images/playday/bouncingcastle.jpg" %}" alt="Bouncing Castle" style="width:100%">
       <div class="caption">
         <p>Infatable bouncy castle, safe, soft fun for kids, that allows parents time to relax.</p>
       </div>
     </a>
   </div>
 </div>
 <div class="col-md-4">
   <div class="img-thumbnail">
     <a href="{% static "/images/playday/charades.jpg" %}">
       <img src="{% static "/images/playday/charades.jpg" %}" alt="Charades" style="width:100%">
       <div class="caption">
         <p>Guess the phrase being acted out.</p>
       </div>
     </a>
   </div>
 </div>
 <div class="col-md-4">
   <div class="img-thumbnail">
     <a href="{% static "/images/playday/giantjenga.jpg" %}">
       <img src="{% static "/images/playday/giantjenga.jpg" %}" alt="Giant Jenga" style="width:100%">
       <div class="caption">
         <p>Super sized Jenga set to test your steady hand.</p>
       </div>
     </a>
   </div>
 </div>
 <div class="col-md-4">
   <div class="img-thumbnail">
     <a href="{% static "/images/playday/jammingcorner.jpg" %}">
       <img src="{% static "/images/playday/jammingcorner.jpg" %}" alt="Perform your music" style="width:100%">
       <div class="caption">
         <p>Want to try performing music in public? Here is your chance.</p>
       </div>
     </a>
   </div>
 </div>
 <div class="col-md-4">
   <div class="img-thumbnail">
     <a href="{% static "/images/playday/snowflakewall.jpg" %}">
       <img src="{% static "/images/playday/snowflakewall.jpg" %}" alt="Paper snowflake display" style="width:100%">
       <div class="caption">
         <p>Design and cut out your own paper snowflake, then display it on our wall.</p>
       </div>
     </a>
   </div>
 </div>
 <div class="col-md-4">
   <div class="img-thumbnail">
       <img  class="d-none d-md-block" src="{% static "images/kumala-logo.svg" %}" alt="... and much much more!" style="width:100%">
       <div class="caption">
         <h2><br>... and much much more to discover!</h2>
       </div>
     </a>
   </div>
 </div>
</div>












{% endblock %}
