<!DOCTYPE html>
{% extends "www/base.html" %}
{% load staticfiles %}
{% block body_block %}


<div class="overlay d-none d-md-block">
  <div class="carousel-caption">
    <h1 class="display-1">{{ page_title }}</h1>
      <p class="lead">Explore creative hobbies and activities to release your inner child and supercharge your learning.</p>
    <div class="carousel-logo">
      <img class="d-none d-md-block" src="{% static "images/kumala-logo.svg" %}" width="120px" alt="">
    </div>
    <div class="carousel-logo">
      <img class="d-block d-md-none" src="{% static "images/kumala-logo.svg" %}" width="60px" alt="">
    </div>
  </div>
</div>

<br>

<div class="row text-center">
  <div class="col-sm-12 col-lg-6">
    <div class="card mx-auto" style="width: 400px;">
      <img class="card-img-top img-fluid" src="{% static "/images/playday/yogaworkshop.jpg" %}" alt="Yoga Workshop" style="max-width: 100%">
      <div class="card-block">
        <h4 class="card-title">Free Yoga Workshop @6:30am</h4>
        <p class="card-text">Start your day with a Yoga Session, please bring your own mat.  Free to join!</p>
        <a href="{% static "/images/playday/yogaworkshop.jpg" %}" class="btn btn-primary">Full Image</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-6">
    <div class="card mx-auto" style="width: 400px;">
      <img class="card-img-top img-fluid" src="{% static "/images/playday/igdrawing.jpg" %}" alt="Freehand Drawing Competition" style="max-width: 100%">
      <div class="card-block">
        <h4 class="card-title">Freehand Drawing Competition @3pm</h4>
        <p class="card-text">Seperate categories for 6-9, 10-13 & 14-17 year olds. Registration between 50 to 100k depending on age.</p>
        <a href="{% static "/images/playday/igdrawing.jpg" %}" class="btn btn-primary">Full Image</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-6">
    <div class="card mx-auto" style="width: 400px;">
      <img class="card-img-top img-fluid" src="{% static "/images/playday/igcrochet.jpg" %}" alt="Crochet Workshop" style="max-width: 100%">
      <div class="card-block">
        <h4 class="card-title">Beginners Crochet Workshop @9am</h4>
        <p class="card-text">Use your spare time productively. All materials provided, suitable for beginners. Take your work home with you. 50k Registration.</p>
        <a href="{% static "/images/playday/igcrochet.jpg" %}" class="btn btn-primary">Full Image</a>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-lg-6">
    <div class="card mx-auto" style="width: 400px;">
      <img class="card-img-top img-fluid" src="{% static "/images/playday/igcupcakedecorating.jpg" %}" alt="Cupcake Decorating Competition" style="max-width: 100%">
      <div class="card-block">
        <h4 class="card-title">Cupcake Decorating Competition @10am</h4>
        <p class="card-text">10am Cupcake decorating competition.  Includes 1 hour demonstration.  Basic materials provided, but feel free to bring extra! Each team must have 2 or 3 participants. 25k Registration</p>
        <a href="{% static "/images/playday/igcupcakedecorating.jpg" %}" class="btn btn-primary">Full Image</a>
      </div>
    </div>
  </div>
</div>











{% endblock %}
