<!DOCTYPE html>
{% extends "www/_base.html" %}
{% load staticfiles %}
{% block page %}


<nav>

</nav>


<div class="columns">
  <div class="column-two-thirds">
    <h2>Alumni Information</h2>
    <h3>School Awards</h3>
    <h3>Testimonials</h3>
    <h3>Businesses</h3>
  </div>
  <div class="column-one-third">
    <div class="thumbnail centered">
        <img class="rounded" src="{% static "/images/1920x1137/00102.jpg" %}" alt="">
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <p>We are immensly proud with the Alumni of our school.  Students from our school got on to do a great many things.  Travel the world, start businesses and families.</p>
  </div>
  <div class="column">
    <p>Once a student has graduated they become a lifelong memeber of our Alumni, and we continue to take an active interest in their progress.</p>
  </div>
</div>

{% endblock %}
