<!DOCTYPE html>
{% extends "www/_base.html" %}
{% load staticfiles %}
{% block page %}


<nav>

</nav>

    <h2 class="text-center">{{ page_title }}</h2>
<div class="table-responsive-md">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Parents</th>
        <th scope="col">Year</th>
        <th scope="col">Award</th>
        <th scope="col">Keterangan</th>
      </tr>
    </thead>
    <tbody>
      <tr style='height:20px;'>
        <td>Abdul Gaffar</td>
        <td>Bpk Sugito &amp; Ibu Sriyati</td>
        <td>2017</td>
        <td>Loyalty</td>
        <td>Politeknik Negeri Medan</td>
      </tr>
      <tr style='height:20px;'>

        <td>Albert Thedy</td>
        <td class="s2 softmerge">Bpk Gunawan Ruslan &amp; Ibu Febby Valerina</td>
        <td>2017</td>
        <td>Sport person</td>
        <td>UPH Medan<br>Management</td>
      </tr>
      <tr style='height:20px;'>

        <td>Alexander Faustine</td>
        <td>BpkWilianto Tjin &amp; Ibu Jenny Ong</td>
        <td>2017</td>
        <td>Exemplary Leadership</td>
        <td>Tekhnik Kimia USU</td>
      </tr>
      <tr style='height:20px;'>


        <td>Alfin Arifin</td>
        <td>Bpk Hendrik Arifin &amp; Ibu Emishindo</td>
        <td>2017</td>
        <td>Excellence in English</td>
        <td>UPH Medan<br>Business</td>
      </tr>
      <tr style='height:20px;'>

        <td>Drake Auryn Tanwi</td>
        <td>Bpk Hermanto &amp; Ibu Yulie</td>
        <td>2017</td>
        <td>The most improve student
        </td>
        <td>UI Jakarta<br>Law</td>
      </tr>
      <tr style='height:20px;'>


        <td>Felecia Christine</td>
        <td>Bpk Rudy Wijaya &amp; Ibu Linda Ismail</td>
        <td>2017</td>
        <td>The best student</td>
        <td>Teknologi Pangan UNUD</td>
      </tr>
      <tr style='height:20px;'>


        <td>Trevin Renaldi</td>
        <td>Bpk Sean Rinaldi &amp; Ibu Rita</td>
        <td>2017</td>
        <td class="s2 softmerge">
          Excellence in social science
        </td>
        <td>UPH Medan<br>Management</td>
      </tr>
      <tr style='height:20px;'>


        <td>Fernando Sanjaya</td>
        <td>Bpk Pinasan &amp; Ibu Mimia</td>
        <td>2018</td>
        <td class="s2 softmerge">
          Outstanding Improvement
        </td>
        <td>Australian Institute of Music (Sydney)<br>Music</td>
      </tr>
      <tr style='height:20px;'>


        <td>Rafella</td>
        <td class="s2 softmerge">
          Bpk Adyanto Kristanto &amp; Ibu Gea Felicia
        </td>
        <td>2018</td>
        <td>Creativity Award</td>
        <td>Universitas Multimedia Nusantara (Jakarta)<br>Perfilman</td>
      </tr>
      <tr style='height:20px;'>


        <td>Jack Piere Tandano</td>
        <td>Bpk Roby &amp; Ibu Herry</td>
        <td>2018</td>
        <td class="s2 softmerge">
          -Artfully creative<br>-Graduate with honors
        </td>
        <td>Udinus (Semarang)<br>Design Communication Visual</td>
      </tr>
      <tr style='height:20px;'>


        <td>Caroline Porfirios</td>
        <td>Bpk Benny Po &amp; Ibu Livamawaty</td>
        <td>2018</td>
        <td>Loyalty</td>
        <td>IT&amp;B (Medan)<br>Hospitality</td>
      </tr>
      <tr style='height:20px;'>


        <td>Napoleon Hiswanto</td>
        <td class="s2 softmerge">
          Bpk Ir. Hiswanto Sumarto &amp; Ibu Hartini
        </td>
        <td>2018</td>
        <td class="s2 softmerge">
          -Excellence in Science<br>-Graduate with honors
        </td>
        <td class="s4 softmerge">
          National Taiwan University of Science and Technology (Taiwan)<br>Teknik
        </td>
      </tr>
      <tr style='height:20px;'>


        <td>Celine Tanlia</td>
        <td class="s2 softmerge">
          Bpk Joe Tjin Tong/Karim &amp; Maya Ainun
        </td>
        <td>2018</td>
        <td>Excellence in social</td>
        <td>Les Roches University (Switzerland)<br>Hospitality</td>
      </tr>
      <tr style='height:20px;'>


        <td>Fira Fatmasiefa</td>
        <td class="s2 softmerge">
          Bpk. Gede Pardianto &amp; Ibu Dyah Purwoorini
        </td>
        <td>2018</td>
        <td class="s2 softmerge">
          -Student Of the year<br>-Graduate with honors
        </td>
        <td>Harvard (USA)<br>Astrophysics/Sciences</td>
      </tr>
      <tr style='height:20px;'>


        <td>Willeo Tamara</td>
        <td>Bpk Wi Kok &amp; Ibu Saini</td>
        <td>2018</td>
        <td class="s2 softmerge">
          -Spectacular Sportsman<br>-Graduate with honors
        </td>
        <td>UPH (Jakarta)<br>Management</td>
      </tr>
      <tr style='height:20px;'>


        <td>Hanny Lycia</td>
        <td>Bpk Johan &amp; Ibu Asni</td>
        <td>2018</td>
        <td>Excellence in English</td>
        <td>XXXX</td>
      </tr>
      <tr style='height:20px;'>


        <td>Alice Faustine</td>
        <td>Bpk Wilianto Tjin &amp; Ibu Jenny Ong</td>
        <td>2018</td>
        <td>Exemplary Leadership</td>
        <td>Monash University (Malaysia)<br>Accounting</td>
      </tr>
      <tr style='height:20px;'>


        <td>Edrick Alvaro Oslo</td>
        <td class="s2 softmerge">
          Bpk Wilson Oslo &amp; Ibu Sarmija Widjaja
        </td>
        <td>2018</td>
        <td>Excellence in Music</td>
        <td>XXXX<br>Music</td>
      </tr>
      <tr style='height:20px;'>


        <td>Reizo Fortunata</td>
        <td class="s2 softmerge">
          Bpk Tjia Susanto Wijaya &amp; Ibu Lie Pek Soan
        </td>
        <td>2018</td>
        <td>Star Performance</td>
        <td>Taylor&#39;s University (Singapore)<br>Marine Biology</td>
      </tr>
      <tr style='height:20px;'>


        <td>Ronan Lee</td>
        <td>Bpk Subali &amp; Ibu Go Pei Hoa</td>
        <td>2018</td>
        <td>Friendship</td>
        <td>XXXX</td>
      </tr>
      <tr style='height:20px;'>


        <td class="s2 softmerge">
          Sherrina Oktavia Gosandra
        </td>
        <td>Bpk Gunadi &amp; Ibu Lisia</td>
        <td>2018</td>
        <td>Student of integrity</td>
        <td>UGM (Yogyakarta)<br>Medical</td>
      </tr>
      <tr style='height:20px;'>


        <td>Calvin Ronaldo Japardi</td>
        <td>Bpk Tommy Hendrawan &amp; Ibu Tuty</td>
        <td>2018</td>
        <td>Graduate with honors</td>
        <td>BINUS (Jakarta)<br>Accounting &amp; Finance</td>
      </tr>
      <tr style='height:20px;'>


        <td>Velia Wendo</td>
        <td>Bpk Woen Tai Fung &amp; Ibu Midah</td>
        <td>2018</td>
        <td>Graduate with honors</td>
        <td>XXXX</td>
      </tr>
      <tr style='height:20px;'>

        <td>Fiona Iarah</td>
        <td class="s2 softmerge">
          Bpk Sharudin Bin Ismail &amp; Ibu Dewi Puspita
        </td>
        <td>2018</td>
        <td>Graduate with honors</td>
        <td>XXXX (Malaysia)</td>
      </tr>
      <tr style='height:20px;'>

        <td>Felicia</td>
        <td class="s2 softmerge">
          Bpk Zulkarnaen Tanbrin &amp; Ibu Tia Poh Hoa
        </td>
        <td>2018</td>
        <td>Graduate with honors</td>
        <td class="s5 softmerge">
          Hotel and Tourism Management Institute(Swiss)<br>Hospitality
        </td>
      </tr>
      <tr style='height:20px;'>
        <td>Edward Harianto</td>
        <td>Bpk Subur Harianto &amp; Ibu Irene</td>
        <td>2018</td>
        <td>Graduate with honors</td>
        <td>BINUS (Jakarta)<br>Architecture</td>
      </tr>
      <tr style='height:20px;'>

        <td>Alwin</td>
        <td>Bpk. Oslan Aka &amp; Ibu Ng Lai Fung</td>
        <td>2018</td>
        <td>Graduate with honors</td>
        <td>Medan<br>Otomotif</td>
      </tr>
      <tr style='height:20px;'>

        <td>Jasmine Huang</td>
        <td>Bpk Hadi Susanto &amp; Ibu San Lina</td>
        <td>2018</td>
        <td>Graduate with honors</td>
        <td>UPH (Medan)<br>Law</td>
      </tr>
      <tr style='height:20px;'>

        <td>Caroline Angela</td>
        <td class="s2 softmerge">
          Bpk Calvin Ericson Ang &amp; Ibu Chen Ing Ing
        </td>
        <td>2018</td>
        <td>Graduate with honors</td>
        <td>Scholarship China, Huaqiao University</td>
      </tr>
    </tbody>
  </table>
</div>
</div>


{% endblock %}
